#encoding UTF-8
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>$obs.label.outHumidity $gettext("in") $station.location</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="page" data-add-back-btn="true" data-theme="a">
    <div data-role="header">
      <h1>$obs.label.humidity</h1>
   </div>
   <div data-role="content">
     <h4>$gettext("24h") $obs.label.outHumidity</h4>
     <img src="../dayhumidity.png"/>

     <h4>$gettext("7-day") $obs.label.outHumidity</h4>
     <img src="../weekhumidity.png" />
    </div>
    <div data-role="footer">
      <h4>WeeWX vstation.version</h4>
    </div>
  </div>
</body>
