#encoding UTF-8
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <title>$obs.label.rain $gettext("in") $station.location</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="page" data-add-back-btn="true" data-theme="a">
    <div data-role="header">
      <h1>$obs.label.rain</h1>
   </div>
   <div data-role="content">
     <h4>$gettext("24h") $obs.label.rain</h4>
     <img src="../dayrain.png"/>
     <ul data-role="listview" data-inset="true" data-divider-theme="b">
       <li data-role="list-divider">Today's data</li>
       <li>$gettext("Today's Rain"): $day.rain.sum</li>
       <li>$gettext("Min rate"): $day.rainRate.min $gettext("at") $day.rainRate.mintime</li>
       <li>$gettext("Max rate"): $day.rainRate.max $gettext("at") $day.rainRate.maxtime</li>
     </ul>

     <h4>$obs.label.rain $gettext("last 30 days")</h4>
     <img src="../monthrain.png" />
    </div>
    <div data-role="footer">
      <h4>WeeWX v$station.version</h4>
    </div>
  </div>
</body>
