#encoding UTF-8
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>$obs.label.outTemp $gettext("in") $station.location</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="page" data-add-back-btn="true" data-theme="a">
    <div data-role="header">
      <h1>$obs.label.outTemp</h1>
    </div>
    <div data-role="content">
      <h4>$gettext("24h") $obs.label.outTemp</h4>
      <img src="../daytempdew.png"/>
      <ul>
        <li>$gettext("Today's min"): $day.outTemp.min $gettext("at") $day.outTemp.mintime</li>
        <li>$gettext("Today's max"): $day.outTemp.max $gettext("at") $day.outTemp.maxtime</li>
      </ul>
      <h4>$gettext("7-day") $obs.label.outTemp</h4>
      <img src="../weektempdew.png"/>
      <ul>
        <li>$gettext("This week's min"): $week.outTemp.min $gettext("at") $week.outTemp.mintime</li>
        <li>$gettext("This week's max"): $week.outTemp.max $gettext("at") $week.outTemp.maxtime</li>
      </ul>
    </div>
    <div data-role="footer">
      <h4>WeeWX v$station.version</h4>
    </div>
  </div>
</body>

