# make any fine offset station connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTR{idVendor}=="1941", ATTR{idProduct}=="8021", MODE="0666"
