# udev rules for hardware recognized by weewx
#
# copy this file to /etc/udev/rules.d
# sudo udevadm control --reload-rules
# unplug then replug the USB device

# make any acurite station connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="24C0",ATTR{idProduct}=="0003",MODE="0666"

# make any fine offset station connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="1941",ATTR{idProduct}=="8021",MODE="0666"

# make any te923 station connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="1130",ATTR{idProduct}=="6801",MODE="0666"

# make any oregon scientific wmr100 connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="0FDE",ATTR{idProduct}=="CA01",MODE="0666"

# make any oregon scientific wmr200 connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="0FDE",ATTR{idProduct}=="CA01",MODE="0666"

# make any oregon scientific wmr300 connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="0FDE",ATTR{idProduct}=="CA08",MODE="0666"

# make any ws28xx transceiver connected via usb accessible to anyone
SUBSYSTEM=="usb",ATTR{idVendor}=="6666",ATTR{idProduct}=="5555",MODE="0666"

# make any rainwise cc3000 connected via usb-serial accessible to anyone
# and make a symlink
SUBSYSTEM=="tty",ATTR{idVendor}=="0403",ATTR{idProduct}=="6001",MODE="0666",SYMLINK+="cc3000"

# make any davis vantage connected via usb-serial accessible to anyone
# and make a symlink
SUBSYSTEM=="tty",ATTR{idVendor}=="10c4",ATTR{idProduct}=="ea60",MODE="0666",SYMLINK+="vantage"
SUBSYSTEM=="tty",ATTR{idVendor}=="10c4",ATTR{idProduct}=="ea61",MODE="0666",SYMLINK+="vantage"
