# make the oregon scientific wmr100 connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTR{idVendor}=="0FDE", ATTR{idProduct}=="CA01", MODE="0666"
