# make the oregon scientific wmr300 connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTR{idVendor}=="0FDE", ATTR{idProduct}=="CA08", MODE="0666"
