<?xml version="1.0"?>
<rss version="2.0" 
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" >
   <channel>
      <title>$station.location, $gettext("Weather Conditions")</title>
      <link>$station.station_url</link>
      <description>$gettext("Current conditions, and daily, monthly, and yearly summaries")</description>
      <language>"$lang"</language>
      <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>

      <lastBuildDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</lastBuildDate>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
      <generator>weewx $station.version</generator>
      <ttl>$current.interval.string('')</ttl>
      
      <item>
         <title>$gettext("Weather Conditions at") $current.dateTime</title>
         <link>$station.station_url</link>
         <description>
           $obs.label.outTemp: $current.outTemp; 
           $obs.label.barometer: $current.barometer; 
           $obs.label.wind: $current.windSpeed $gettext("from") $current.windDir; 
           $obs.label.rainRate: $current.rainRate; 
           $obs.label.inTemp: $current.inTemp
         </description>
         <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>
	     <geo:lat>$station.latitude_f</geo:lat>
    	 <geo:long>$station.longitude_f</geo:long>
 		 <content:encoded><![CDATA[
           <p>
             $obs.label.dateTime: $current.dateTime<br/>
             $obs.label.outTemp: $current.outTemp<br/>
             $obs.label.inTemp:  $current.inTemp<br/>
             $obs.label.windchill: $current.windchill<br/>
             $obs.label.heatindex: $current.heatindex<br/>
             $obs.label.dewpoint: $current.dewpoint<br/>
             $obs.label.outHumidity: $current.outHumidity<br/>
             $obs.label.barometer: $current.barometer<br/>
             $obs.label.wind: $current.windSpeed $gettext("from") $current.windDir<br/>
             $obs.label.rainRate: $current.rainRate<br/>
        </p>
      ]]></content:encoded>
      </item>

      <item>
         <title>$gettext("Daily Weather Summary as of") $current.dateTime</title>
         <link>$station.station_url</link>
         <description>
	        $gettext("Min outside temperature"): $day.outTemp.min $gettext("at") $day.outTemp.mintime;
         	$gettext("Max outside temperature"): $day.outTemp.max $gettext("at") $day.outTemp.maxtime;
	        $gettext("Min inside temperature"):  $day.inTemp.min $gettext("at") $day.inTemp.mintime;
	        $gettext("Max inside temperature"):  $day.inTemp.max $gettext("at") $day.inTemp.maxtime;
	        $gettext("Min barometer"):           $day.barometer.min $gettext("at") $day.barometer.mintime;
	        $gettext("Max barometer"):           $day.barometer.max $gettext("at") $day.barometer.maxtime;
            $gettext("Max wind") :               $day.wind.max $gettext("from") $day.wind.gustdir $gettext("at") $day.wind.maxtime;
            $gettext("Rain today"):              $day.rain.sum
         </description>
         <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>
	     <geo:lat>$station.latitude_f</geo:lat>
    	 <geo:long>$station.longitude_f</geo:long>
 		 <content:encoded><![CDATA[
           <p>
             $gettext("Day"): $day.dateTime.format("%d %b %Y")<br/>
	         $gettext("Min outside temperature"): $day.outTemp.min $gettext("at") $day.outTemp.mintime<br/>
	         $gettext("Max outside temperature"): $day.outTemp.max $gettext("at") $day.outTemp.maxtime<br/>
	         $gettext("Min inside temperature"):  $day.inTemp.min $gettext("at") $day.inTemp.mintime<br/>
	         $gettext("Max inside temperature"):  $day.inTemp.max $gettext("at") $day.inTemp.maxtime<br/>
	         $gettext("Min barometer"):           $day.barometer.min $gettext("at") $day.barometer.mintime<br/>
	         $gettext("Max barometer"):           $day.barometer.max $gettext("at") $day.barometer.maxtime<br/>
             $gettext("Max wind") :               $day.wind.max $gettext("from") $day.wind.gustdir $gettext("at") $day.wind.maxtime<br/>
             $gettext("Rain today"):              $day.rain.sum<br/>
        </p>
      ]]></content:encoded>
      </item>

      <item>
         <title>$gettext("Monthly Weather Summary as of") $current.dateTime</title>
         <link>$station.station_url</link>
         <description>
	        $gettext("Min outside temperature"): $month.outTemp.min $gettext("at") $month.outTemp.mintime;
         	$gettext("Max outside temperature"): $month.outTemp.max $gettext("at") $month.outTemp.maxtime;
	        $gettext("Min inside temperature"):  $month.inTemp.min $gettext("at") $month.inTemp.mintime;
	        $gettext("Max inside temperature"):  $month.inTemp.max $gettext("at") $month.inTemp.maxtime;
	        $gettext("Min barometer"):           $month.barometer.min $gettext("at") $month.barometer.mintime;
	        $gettext("Max barometer"):           $month.barometer.max $gettext("at") $month.barometer.maxtime;
            $gettext("Max wind") :               $month.wind.max $gettext("from") $month.wind.gustdir $gettext("at") $month.wind.maxtime;
            $gettext("Rain total for month"):    $month.rain.sum
         </description>
         <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>
 		 <content:encoded><![CDATA[
           <p>
             $gettext("Month"): $month.dateTime.format("%B %Y")<br/>
	         $gettext("Max outside temperature"): $month.outTemp.max $gettext("at") $month.outTemp.maxtime<br/>
	         $gettext("Min outside temperature"): $month.outTemp.min $gettext("at") $month.outTemp.mintime<br/>
	         $gettext("Max inside temperature"):  $month.inTemp.max $gettext("at") $month.inTemp.maxtime<br/>
	         $gettext("Min inside temperature"):  $month.inTemp.min $gettext("at") $month.inTemp.mintime<br/>
	         $gettext("Min barometer"):           $month.barometer.min $gettext("at") $month.barometer.mintime<br/>
	         $gettext("Max barometer"):           $month.barometer.max $gettext("at") $month.barometer.maxtime<br/>
             $gettext("Max wind") :               $month.wind.max $gettext("from") $month.wind.gustdir $gettext("at") $month.wind.maxtime<br/>
             $gettext("Rain total for month"):    $month.rain.sum<br/>
        </p>
      ]]></content:encoded>
      </item>

      <item>
         <title>$gettext("Yearly Weather Summary as of") $current.dateTime</title>
         <link>$station.station_url</link>
         <description>
	        $gettext("Min outside temperature"): $year.outTemp.min $gettext("at") $year.outTemp.mintime;
         	$gettext("Max outside temperature"): $year.outTemp.max $gettext("at") $year.outTemp.maxtime;
	        $gettext("Min inside temperature"):  $year.inTemp.min $gettext("at") $year.inTemp.mintime;
	        $gettext("Max inside temperature"):  $year.inTemp.max $gettext("at") $year.inTemp.maxtime;
	        $gettext("Min barometer"):           $year.barometer.min $gettext("at") $year.barometer.mintime;
	        $gettext("Max barometer"):           $year.barometer.max $gettext("at") $year.barometer.maxtime;
            $gettext("Max wind") :               $year.wind.max $gettext("from") $year.wind.gustdir $gettext("at") $year.wind.maxtime;
            $gettext("Rain total for year"):     $year.rain.sum
         </description>
         <pubDate>$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")</pubDate>
 		 <content:encoded><![CDATA[
           <p>
             $gettext("Year"): $year.dateTime.format("%Y")<br/>
	         $gettext("Max outside temperature"): $year.outTemp.max $gettext("at") $year.outTemp.maxtime<br/>
	         $gettext("Min outside temperature"): $year.outTemp.min $gettext("at") $year.outTemp.mintime<br/>
	         $gettext("Max inside temperature"):  $year.inTemp.max $gettext("at") $year.inTemp.maxtime<br/>
	         $gettext("Min inside temperature"):  $year.inTemp.min $gettext("at") $year.inTemp.mintime<br/>
	         $gettext("Min barometer"):           $year.barometer.min $gettext("at") $year.barometer.mintime<br/>
	         $gettext("Max barometer"):           $year.barometer.max $gettext("at") $year.barometer.maxtime<br/>
             $gettext("Max wind") :               $year.wind.max $gettext("from") $year.wind.gustdir $gettext("at") $year.wind.maxtime<br/>
             $gettext("Rain total for year"):     $year.rain.sum<br/>
        </p>
      ]]></content:encoded>
      </item>

   </channel>
</rss>
