*~
*.pyc
__pycache__
*.egg-info
junk*
.DS_Store
/build
/dist
/docs
/.venv
/venv

# Include all of .idea in the repository except ...
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionary/*
/.idea/shelf/*

# Ignore wee_resources ...
/bin/wee_resources/
