*~
\#*
.DS_Store
*.pyc
__pycache__
*.egg-info
.venv
venv

# Exclude all of the JetBrains .idea directory
.idea

# Ignore artifacts produced during build/packaging
MANIFEST
build
dist

# Ignore archive database and HTML directories
src/weewx_data/archive/
src/weewx_data/public_html/