*~
*.pyc
__pycache__
*.egg-info
MANIFEST
build
dist
.DS_Store
.idea
!/.idea
/.idea/*
!/.idea/codeStyles
/bin/wee_resources/*
!/bin/wee_resources/__init__.py
html_docs
.project
.pydevproject
.settings
.github
junk*
*.sln
*.user
*.pyproj
*.suo
*.config
.venv/*
