configobj

# Cheetah or Cheetah3 depending on Python version
Cheetah; python_version < '3.0'
Cheetah3; python_version >= '3.0'

# Pillow with fixed version depending on Python version
Pillow==5.1; python_version < '3.0'
Pillow; python_version >= '3.0'

pyserial
pyusb

# Ephem is optional, you can comment this line if you don't intent to use it
pyephem

# MySQL is optional, you can comment this line if you don't intent to use it
mysqlclient
