Source: weewx
Section: science
Priority: optional
Maintainer: Tom Keffer <tkeffer@gmail.com>
Standards-Version: 3.9.2
Homepage: http://www.weewx.com
Build-Depends: debhelper (>=8)

Package: weewx
Priority: optional
Architecture: all
Pre-Depends: debconf
Depends:
 python3 (>=3.7) | python (>=3.7),
 python3-configobj,
 python3-cheetah,
 python3-pil,
 python3-serial,
 python3-usb
Suggests:
 sqlite,
 rsync,
 ftp,
 httpd,
 python3-dev,
 python3-pip
Description: weather software
 WeeWX interacts with a weather station to produce graphs, reports, and HTML
 pages. WeeWX can upload data to many weather services including WeatherUnderground,
 PWSweather.com, CWOP, and others.
 .
 This version requires Python 3.7 or greater.
