# udev rules for hardware recognized by weewx
#
# copy this file to /etc/udev/rules.d
# sudo udevadm control --reload-rules
# unplug then replug the USB device
#
# these rules make the weather stations read/write to the weewx group

# acurite
SUBSYSTEM=="usb",ATTR{idVendor}=="24C0",ATTR{idProduct}=="0003",MODE="0664",GROUP="weewx"

# fine offset usb
SUBSYSTEM=="usb",ATTR{idVendor}=="1941",ATTR{idProduct}=="8021",MODE="0664",GROUP="weewx"

# te923
SUBSYSTEM=="usb",ATTR{idVendor}=="1130",ATTR{idProduct}=="6801",MODE="0664",GROUP="weewx"

# oregon scientific wmr100
SUBSYSTEM=="usb",ATTR{idVendor}=="0FDE",ATTR{idProduct}=="CA01",MODE="0664",GROUP="weewx"

# oregon scientific wmr200
SUBSYSTEM=="usb",ATTR{idVendor}=="0FDE",ATTR{idProduct}=="CA01",MODE="0664",GROUP="weewx"

# oregon scientific wmr300
SUBSYSTEM=="usb",ATTR{idVendor}=="0FDE",ATTR{idProduct}=="CA08",MODE="0664",GROUP="weewx"

# ws28xx transceiver
SUBSYSTEM=="usb",ATTR{idVendor}=="6666",ATTR{idProduct}=="5555",MODE="0664",GROUP="weewx"

# rainwise cc3000 via usb-serial
SUBSYSTEM=="tty",ATTR{idVendor}=="0403",ATTR{idProduct}=="6001",MODE="0664",GROUP="weewx",SYMLINK+="cc3000"

# davis vantage via usb-serial
SUBSYSTEM=="tty",ATTR{idVendor}=="10c4",ATTR{idProduct}=="ea60",MODE="0664",GROUP="weewx",SYMLINK+="vantage"
SUBSYSTEM=="tty",ATTR{idVendor}=="10c4",ATTR{idProduct}=="ea61",MODE="0664",GROUP="weewx",SYMLINK+="vantage"

