# udev rules for hardware recognized by weewx

# acurite
SUBSYSTEM=="usb",ATTRS{idVendor}=="24c0",ATTRS{idProduct}=="0003",MODE="0664",GROUP="weewx"

# fine offset usb
SUBSYSTEM=="usb",ATTRS{idVendor}=="1941",ATTRS{idProduct}=="8021",MODE="0664",GROUP="weewx"

# te923
SUBSYSTEM=="usb",ATTRS{idVendor}=="1130",ATTRS{idProduct}=="6801",MODE="0664",GROUP="weewx"

# oregon scientific wmr100
SUBSYSTEM=="usb",ATTRS{idVendor}=="0fde",ATTRS{idProduct}=="ca01",MODE="0664",GROUP="weewx"

# oregon scientific wmr200
SUBSYSTEM=="usb",ATTRS{idVendor}=="0fde",ATTRS{idProduct}=="ca01",MODE="0664",GROUP="weewx"

# oregon scientific wmr300
SUBSYSTEM=="usb",ATTRS{idVendor}=="0fde",ATTRS{idProduct}=="ca08",MODE="0664",GROUP="weewx"

# ws28xx transceiver
SUBSYSTEM=="usb",ATTRS{idVendor}=="6666",ATTRS{idProduct}=="5555",MODE="0664",GROUP="weewx"

# rainwise cc3000 via usb-serial
SUBSYSTEM=="tty",ATTRS{idVendor}=="0403",ATTRS{idProduct}=="6001",MODE="0664",GROUP="weewx",SYMLINK+="cc3000"

# davis vantage via usb-serial
SUBSYSTEM=="tty",ATTRS{idVendor}=="10c4",ATTRS{idProduct}=="ea60",MODE="0664",GROUP="weewx",SYMLINK+="vantage"
SUBSYSTEM=="tty",ATTRS{idVendor}=="10c4",ATTRS{idProduct}=="ea61",MODE="0664",GROUP="weewx",SYMLINK+="vantage"

