/* css for the basic skin */
/* Copyright 2014 Matthew Wall */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}	
h1 {
  font-size: 110%;
}
h2 {
  font-size: 100%;
}
a:link {
  text-decoration: none;
  color: #207070;
}
a:hover {
  text-decoration: none;
  color: #30a0a0;
}
a:visited {
  text-decoration: none;
  color: #207070;
}

#header {
  clear: both;
  margin: 0;
  padding: 0;
}

#content {
  clear: both;
}

#station_info {
  float: left;
  line-height: 95%;
}
.station_title {
  font-size: 120%;
  font-weight: bold;
}
.station_location {
  font-size: 75%;
}
.station_time {
  font-size: 75%;
}

#observation_title {
  clear: left;
  font-weight: bold;
  padding-top: 2px;
}

#navigation_controls {
  float: right;
  font-size: 85%;
}
#navigation_controls a {
  padding-left: 10px;
  padding-right: 10px;
}

#data_graphs {
}
#data_table {
  float: right;
}

#footer {
  clear: both;
}
#footer p {
  font-size: 8pt;
  font-style: italic;
  color: #aaaaaa;
}

.metrics {
  font-size: 80%;
}
.metrics a {
  text-decoration: none;
}
.metric_title {
  text-align: left;
  font-weight: bold;
}
.metric_name {
  text-align: right;
}
.metric_large {
  text-align: left;
  font-weight: bold;
  font-size: 230%;
}
.metric_value {
  text-align: left;
  font-weight: bold;
}
.metric_units {
  text-align: left;
}
.hilo_time {
  text-align: left;
  color: #aaaaaa;
  font-size: 85%;
}
.heatindex {
  color: #aa4444;
}
.windchill {
  color: #4444aa;
}
