## basic skin for weewx - Copyright 2014 Matthew Wall
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- basic for weewx - Copyright Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location $gettext["Current Weather Conditions"]</title>
    <link rel="stylesheet" type="text/css" href="basic.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
  </head>

  <body>
    <div id='header'>
      <div id='station_info'>
        <span class='station_title'>$station.location</span><br/>
        <span class='station_time'>$current.dateTime</span>
      </div>
    </div>
    <div id='content'>
      <div id='data_table'>
        #include "current.inc"
        <p>&nbsp;</p>
        #include "hilo.inc"
      </div>
      <div id='data_graphs'>
        <img src="dayinouttempdew.png" alt="temperatures" />
        <img src="dayinouthum.png" alt="humidity" />
        <img src="daybarometer.png" alt="barometer"/>
        <img src="daytempchill.png" alt="heatchill" />
        <img src="daywind.png" alt="wind" />
        <img src="daywinddir.png" alt="wind direction" />
        <img src="daywindvec.png" alt="wind vectors" />
        <img src="dayrain.png" alt="rain" />
        #if $day.radiation.has_data
        <img src="dayradiation.png" alt="radiation" />
        #end if
        #if $day.UV.has_data
        <img src="dayuv.png" alt="uv" />
        #end if
      </div>
    </div>
    <div id='footer'>
      <p>
        weewx: $station.uptime<br/>
        server: $station.os_uptime<br/>
        weewx $station.version with $station.hardware<br/>
      </p>
    </div>
  </body>
</html>
