## amphibian for weewx - Copyright 2012-2013 Matthew Wall
## $Id$
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- amphibian for weewx - Copyright Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Almanac</title>
    <link rel="stylesheet" type="text/css" href="amphibian.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src="amphibian.js"></script>
    <style>
      .selectors {
        clear: right;
        float: right;
        text-align: right;
      }
.metrics {
}
.metrics a {
  text-decoration: none;
}
.metric_title {
  text-align: left;
  font-weight: bold;
}
.metric_name {
  text-align: right;
}
.metric_large {
  text-align: left;
  font-weight: bold;
  font-size: 230%;
}
.metric_value {
  text-align: left;
  color: #007000;
}
.metric_units {
  text-align: left;
}
.hilo_time {
  text-align: left;
  font-size: 85%;
}
    </style>
    <script type="text/javascript">
      function openURL(urlname) {
        window.location = urlname;
      }
      function openNoaaFile(date) {
        window.location = "NOAA/NOAA-" + date + ".txt";
      }
    </script>
  </head>

  <body>
    #include $Extras.header

    <div class='selectors'>
      <p>Monthly Summary:&nbsp;
        <select name='noaaselect' onchange="openNoaaFile(value)">
          #for $monthYear in $SummaryByMonth
          <option value="$monthYear">$monthYear</option>
          #end for
	  <option selected>-Select month-</option>
        </select>
        <br/>
        Yearly Summary:&nbsp;
        <select name='noaaselect' onchange="openNoaaFile(value)">
          #for $y in $SummaryByYear
          <option value="$y">$y</option>
          #end for
	  <option selected>-Select year-</option>
        </select>
      </p>
    </div>

    <div id='observation_title'>
      <p>Almanac Data</p>
    </div>

    <div id='content'>

<table class='metrics'>
  <tr style='vertical-align:top'>
    <td>

<table>
  <tr>
    <td class="metric_name">Station:</td>
    <td><span class="metric_value">$station.location</span></td>
  </tr>
  <tr>
    <td class="metric_name">Time:</td>
    <td><span class="metric_value">$current.dateTime.format("%H:%M")</span></td>
  </tr>
  <tr>
    <td class="metric_name">Date:</td>
    <td><span class="metric_value">$current.dateTime.format("%d.%m.%Y")</span></td>
  </tr>
  <tr>
    <td class="metric_name">Latitude:</td>
    <td><span class="metric_value">$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</span></td>
  </tr>
  <tr>
    <td class="metric_name">Longitude:</td>
    <td><span class="metric_value">$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</span></td>
  </tr>
  <tr>
    <td class="metric_name">Elevation:</td>
    <td><span class="metric_value">$station.altitude</span></td>
  </tr>
</table>

    </td>
    <td>&nbsp;</td>
    <td>

#if $almanac.hasExtras
## Extended almanac information is available, do full set of data.
<table>
  <tr><td class="metric_title">Sun</td><td></td></tr>
  <tr>
    <td class="metric_name">Start civil twilight:</td>
    <td class="metric_value">$almanac(horizon=-6).sun(use_center=1).rise</td>
  </tr>
  <tr>
    <td class="metric_name">Sunrise:</td>
    <td class="metric_value">$almanac.sun.rise</td>
  </tr>
  <tr>
    <td class="metric_name">Transit:</td>
    <td class="metric_value">$almanac.sun.transit</td>
  </tr>
  <tr>
    <td class="metric_name">Sunset:</td>
    <td class="metric_value">$almanac.sun.set</td>
  </tr>
  <tr>
    <td class="metric_name">End civil twilight:</td>
    <td class="metric_value">$almanac(horizon=-6).sun(use_center=1).set</td>
  </tr>
  <tr>
    <td class="metric_name">Azimuth:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.sun.az)</td>
  </tr>
  <tr>
    <td class="metric_name">Altitude:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.sun.alt)</td>
  </tr>
  <tr>
    <td class="metric_name">Right ascension:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.sun.ra)</td>
  </tr>
  <tr>
    <td class="metric_name">Declination:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.sun.dec)</td>
  </tr>
  #if $almanac.next_equinox.raw < $almanac.next_solstice.raw
  ## The equinox is before the solstice. Display them in order.
  <tr>
    <td class="metric_name">Equinox:</td>
    <td class="metric_value">$almanac.next_equinox</td>
  </tr>
  <tr>
    <td class="metric_name">Solstice:</td>
    <td class="metric_value">$almanac.next_solstice</td>
  </tr>
  #else
  ## The solstice is before the equinox. Display them in order.
  <tr>
    <td class="metric_name">Solstice:</td>
    <td class="metric_value">$almanac.next_solstice</td>
  </tr>
  <tr>
    <td class="metric_name">Equinox:</td>
    <td class="metric_value">$almanac.next_equinox</td>
  </tr>
  #end if
</table>
    </td>
    <td>&nbsp;</td>
    <td>
<table>
  <tr><td class="metric_title">Moon</td><td></td></tr>
  <tr>
    <td class="metric_name">Rise:</td>
    <td class="metric_value">$almanac.moon.rise</td>
  </tr>
  <tr>
    <td class="metric_name">Transit:</td>
    <td class="metric_value">$almanac.moon.transit</td>
  </tr>
  <tr>
    <td class="metric_name">Set:</td>
    <td class="metric_value">$almanac.moon.set</td>
  </tr>
  <tr>
    <td class="metric_name">Azimuth:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.moon.az)</td>
  </tr>
  <tr>
    <td class="metric_name">Altitude:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.moon.alt)</td>
  </tr>
  <tr>
    <td class="metric_name">Right ascension:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.moon.ra)</td>
  </tr>
  <tr>
    <td class="metric_name">Declination:</td>
    <td class="metric_value">$("%.1f&deg;" % $almanac.moon.dec)</td>
  </tr>
  #if $almanac.next_full_moon.raw < $almanac.next_new_moon.raw
  <tr>
    <td class="metric_name">Full moon:</td>
    <td class="metric_value">$almanac.next_full_moon</td>
  </tr>
  <tr>
    <td class="metric_name">New moon:</td>
    <td class="metric_value">$almanac.next_new_moon</td>
  </tr>
  #else
  <tr>
    <td class="metric_name">New moon:</td>
    <td class="metric_value">$almanac.next_new_moon</td>
  </tr>
  <tr>
    <td class="metric_name">Full moon:</td>
    <td class="metric_value">$almanac.next_full_moon</td>
  </tr>
  #end if
  <tr style='vertical-align:top'>
    <td class="metric_name">Phase:</td>
    <td><span class="metric_value">$almanac.moon_phase</span><br/><span class='metric_hilo'>$almanac.moon_fullness% full</span></td>
  </tr>
</table>
#else
## No extended almanac information, fall back to a simple table.
<table>
  <tr><td class='metric_title'>Sun and Moon</td><td></td></tr>
  <tr>
    <td class="metric_name">Sunrise:</td>
    <td class="metric_value">$almanac.sunrise</td>
  </tr>
  <tr>
    <td class="metric_name">Sunset:</td>
    <td class="metric_value">$almanac.sunset</td>
  </tr>
  <tr style='vertical-align:top'>
    <td class="metric_name">Moon Phase:</td>
    <td><span class="metric_value">$almanac.moon_phase</span><br/><span class='metric_hilo'>$almanac.moon_fullness% full</span></td>
  </tr>
</table>
#end if

    </td>
  </tr>
</table>


<table class='metrics'>
  <tr>
    <td class="metric_title">Temperature ($unit.label.outTemp)</td>
    <td width="20"></td>
    <td class="metric_title">Humidity ($unit.label.outHumidity)</td>
    <td width="20"></td>
    <td class="metric_title">Dew Point ($unit.label.dewpoint)</td>
  </tr>

  <tr style='vertical-align:top'>
    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.outTemp.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.outTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.outTemp.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.outTemp.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.outTemp.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.outTemp.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.outTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.outTemp.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.outTemp.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.outTemp.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.outTemp.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$month.outTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.outTemp.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.outTemp.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.outTemp.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.outTemp.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.outTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.outTemp.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.outTemp.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.outTemp.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.outTemp.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.outTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.outTemp.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.outTemp.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.outTemp.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.outTemp.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.outHumidity.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.outHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.outHumidity.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.outHumidity.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.outHumidity.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.outHumidity.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.outHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.outHumidity.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.outHumidity.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.outHumidity.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.outHumidity.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$month.outHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.outHumidity.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.outHumidity.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.outHumidity.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.outHumidity.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.outHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.outHumidity.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.outHumidity.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.outHumidity.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.outHumidity.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.outHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.outHumidity.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.outHumidity.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.outHumidity.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.outHumidity.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.dewpoint.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.dewpoint.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.dewpoint.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.dewpoint.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.dewpoint.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.dewpoint.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.dewpoint.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.dewpoint.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.dewpoint.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.dewpoint.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.dewpoint.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$week.dewpoint.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.dewpoint.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.dewpoint.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.dewpoint.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.dewpoint.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.dewpoint.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.dewpoint.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.dewpoint.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.dewpoint.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.dewpoint.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.dewpoint.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.dewpoint.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.dewpoint.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.dewpoint.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.dewpoint.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td class="metric_title">Wind Chill ($unit.label.windchill)</td>
    <td></td>
    <td class="metric_title">Heat Index ($unit.label.heatindex)</td>
    <td></td>
    <td class="metric_title">Barometer ($unit.label.barometer)</td>
  </tr>

  <tr style='vertical-align:top'>
    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.windchill.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.windchill.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.windchill.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.windchill.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.windchill.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.windchill.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.windchill.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.windchill.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.windchill.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.windchill.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.windchill.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.heatindex.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.heatindex.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.heatindex.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.heatindex.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.heatindex.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.heatindex.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.heatindex.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.heatindex.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.heatindex.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.heatindex.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.heatindex.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td rowspan='4'>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.barometer.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.barometer.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.barometer.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.barometer.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.barometer.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.barometer.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.barometer.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.barometer.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$week.barometer.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.barometer.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$week.barometer.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$month.barometer.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.barometer.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.barometer.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.barometer.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.barometer.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.barometer.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.barometer.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.barometer.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.barometer.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.barometer.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.barometer.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.barometer.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.barometer.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.barometer.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.barometer.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td class="metric_title">Wind ($unit.label.windSpeed)</td>
    <td></td>
    <td class="metric_title">Rain ($unit.label.rain - $unit.label.rainRate)</td>
    <td></td>
    <td></td>
  </tr>

  <tr style='vertical-align:top'>
    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.windSpeed.formatted $current.windDir.ordinal_compass</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.wind.avg.formatted $day.wind.vecdir.ordinal_compass</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.wind.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.wind.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.wind.avg.formatted $week.wind.vecdir.ordinal_compass</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.wind.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.wind.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$month.wind.avg.formatted $month.wind.vecdir.ordinal_compass</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.wind.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.wind.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.wind.avg.formatted $year.wind.vecdir.ordinal_compass</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.wind.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.wind.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.wind.avg.formatted $alltime.wind.vecdir.ordinal_compass</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.wind.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.wind.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td>
      <table>
        <tr>
          <td class="metric_name">Rate:</td>
          <td><span class="metric_value">$current.rainRate.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day:</td>
          <td><span class="metric_value">$day.rain.sum.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High Rate:</td>
          <td><span class="metric_value">$day.rainRate.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.rainRate.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week:</td>
          <td><span class="metric_value">$week.rain.sum.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High Rate:</td>
          <td><span class="metric_value">$week.rainRate.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.rainRate.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month:</td>
          <td><span class="metric_value">$month.rain.sum.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High Rate:</td>
          <td><span class="metric_value">$month.rainRate.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.rainRate.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year:</td>
          <td><span class="metric_value">$year.rain.sum.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High Rate:</td>
          <td><span class="metric_value">$year.rainRate.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.rainRate.maxtime</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time High Rate:</td>
          <td><span class="metric_value">$alltime.rainRate.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.rainRate.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td class="metric_title">Inside Temperature ($unit.label.inTemp)</td>
    <td width="20"></td>
    <td class="metric_title">Inside Humidity ($unit.label.outTemp)</td>
    <td></td>
    <td></td>
  </tr>

  <tr style='vertical-align:top'>
    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.inTemp.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.inTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.inTemp.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.inTemp.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.inTemp.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.inTemp.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.inTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.inTemp.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.inTemp.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.inTemp.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.inTemp.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$month.inTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.inTemp.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.inTemp.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.inTemp.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.inTemp.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.inTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.inTemp.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.inTemp.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.inTemp.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.inTemp.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.inTemp.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.inTemp.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.inTemp.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.inTemp.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.inTemp.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>

    <td>
      <table>
        <tr>
          <td class="metric_name">Current:</td>
          <td><span class="metric_value">$current.inHumidity.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Average:</td>
          <td><span class="metric_value">$day.inHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day High:</td>
          <td><span class="metric_value">$day.inHumidity.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.inHumidity.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Day Low:</td>
          <td><span class="metric_value">$day.inHumidity.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$day.inHumidity.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Average:</td>
          <td><span class="metric_value">$week.inHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week High:</td>
          <td><span class="metric_value">$week.inHumidity.max.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.inHumidity.maxtime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Week Low:</td>
          <td><span class="metric_value">$week.inHumidity.min.formatted</span><span class="hilo_time">&nbsp;at&nbsp;$week.inHumidity.mintime</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Average:</td>
          <td><span class="metric_value">$month.inHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month High:</td>
          <td><span class="metric_value">$month.inHumidity.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.inHumidity.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Month Low:</td>
          <td><span class="metric_value">$month.inHumidity.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$month.inHumidity.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Average:</td>
          <td><span class="metric_value">$year.inHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year High:</td>
          <td><span class="metric_value">$year.inHumidity.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.inHumidity.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">Year Low:</td>
          <td><span class="metric_value">$year.inHumidity.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$year.inHumidity.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #if $varExists('alltime')
        <tr>
          <td class="metric_name">All Time Average:</td>
          <td><span class="metric_value">$alltime.inHumidity.avg.formatted</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time High:</td>
          <td><span class="metric_value">$alltime.inHumidity.max.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.inHumidity.maxtime.format("%d.%m.%Y")</span></td>
        </tr>
        <tr>
          <td class="metric_name">All Time Low:</td>
          <td><span class="metric_value">$alltime.inHumidity.min.formatted</span><span class="hilo_time">&nbsp;on&nbsp;$alltime.inHumidity.mintime.format("%d.%m.%Y")</span></td>
        </tr>
        #end if
      </table>
    </td>

    <td></td>
    <td></td>
  </tr>
</table>

    </div>

    #include $Extras.footer

    <script>
      setTabURLs('almanac','table');
    </script>
  </body>
</html>
