## amphibian for weewx - Copyright 2012-2013 Matthew Wall
## $Id$
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <!-- amphibian for weewx - Copyright Matthew Wall -->
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Yearly Weather Data</title>
    <link rel="stylesheet" type="text/css" href="amphibian.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src="amphibian.js"></script>
  </head>

  <body>
    #include $Extras.header

    <div id='data'>

      <table>
        <tr>
          <td></td>
          <td colspan='3'>Temp Inside $unit.label.inTemp</td>
          <td colspan='3'>Hum Inside $unit.label.inHumidity</td>
          <td colspan='3'>Temp Outside $unit.label.outTemp</td>
          <td colspan='3'>Hum Outside $unit.label.outHumidity</td>
          <td colspan='3'>Pressure $unit.label.barometer</td>
          <td colspan='2'>Rain $unit.label.rain</td>
          <td colspan='3'>Wind $unit.label.wind</td>
        </tr>
        <tr>
          <td></td>
          <td>max</td><td>min</td><td>avg</td>
          <td>max</td><td>min</td><td>avg</td>
          <td>max</td><td>min</td><td>avg</td>
          <td>max</td><td>min</td><td>avg</td>
          <td>max</td><td>min</td><td>avg</td>
          <td>fall</td><td>rate</td>
          <td>max</td><td>avg</td><td>dir</td>
        </tr>
#for $month in $year.months
        <tr>
          <td>$month.dateTime.format("%b %Y")</td>
          <td>$month.inTemp.max.formatted</td>
          <td>$month.inTemp.min.formatted</td>
          <td>$month.inTemp.avg.formatted</td>
          <td>$month.inHumidity.max.formatted</td>
          <td>$month.inHumidity.min.formatted</td>
          <td>$month.inHumidity.avg.formatted</td>
          <td>$month.outTemp.max.formatted</td>
          <td>$month.outTemp.min.formatted</td>
          <td>$month.outTemp.avg.formatted</td>
          <td>$month.outHumidity.max.formatted</td>
          <td>$month.outHumidity.min.formatted</td>
          <td>$month.outHumidity.avg.formatted</td>
          <td>$month.barometer.max.formatted</td>
          <td>$month.barometer.min.formatted</td>
          <td>$month.barometer.avg.formatted</td>
          <td>$month.rain.sum.formatted</td>
          <td>$month.rainRate.max.formatted</td>
          <td>$month.wind.max.formatted</td>
          <td>$month.wind.avg.formatted</td>
          <td>$month.wind.vecdir</td>
        </tr>
#end for
      </table>

    </div>

    #include $Extras.footer

    <script>
      setTabURLs('year','table');
    </script>
  </body>
</html>
