## Copyright 2009-2018 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe:
#encoding UTF-8
##

#set global graphOrder = $getVar('Extras.Graphs.order', 'barometer,outsideTemp,feelsLikeTemp,outsideHumidity,wind,windDirection,windVector,rain,uvIndex,radiation,insideTemp,insideHumidity,extraTemp,signalQuality').split(',')

#def dataSettings($field, $image, $label)
#return {"field": field, "image": image, "alt": label}
#end def

##  Still need special case for extraTemp1.has_data or extraTemp2.has_data or extraTemp3.has_data
#set global graphData = { \
  "outsideTemp":     $dataSettings(None, "tempdew.png", $obs.label.outTemp), \
  "wind":            $dataSettings(None, "wind.png", $obs.label.windSpeed), \
  "windDirection":   $dataSettings(None, "winddir.png", $obs.label.windDir), \
  "windVector":      $dataSettings(None, "windvec.png", $obs.label.windvec), \
  "rain":            $dataSettings(None, "rain.png", $obs.label.rain), \
  "feelsLikeTemp":   $dataSettings(None, "tempfeel.png", $obs.label.feel), \
  "barometer":       $dataSettings(None, "barometer.png", $obs.label.barometer), \
  "outsideHumidity": $dataSettings(None, "hum.png", $obs.label.outHumidity), \
  "uvIndex":         $dataSettings('UV', "uv.png", $obs.label.UV), \
  "radiation":       $dataSettings('radiation', "radiation.png", $obs.label.radiation), \
  "insideTemp":      $dataSettings('daytempin', "tempin.png", $obs.label.inTemp), \
  "insideHumidity":  $dataSettings('inHumidity', "humin.png", $obs.label.inHumidity), \
  "signalQuality":   $dataSettings('rxCheckPercent', "rx.png", $obs.label.rxCheckPercent), \
  "extraTemp":       $dataSettings('extraTemp1', "temp.png", $obs.label.extraTemp1) \
}

#def showGraph($dataVar, $key, $imgPrefix)
#set data = $graphData[$key]
#if $data.field == None or $getVar($dataVar+'.'+$data.field+'.has_data')
<img src="$imgPrefix${$data.image}" alt="${$data.alt}"/>
#end if
#end def

#def graphs($dataVar, $imgPrefix)
#for $graph in $graphOrder
$showGraph($dataVar, $graph, $imgPrefix)
#end for
#end def

<!DOCTYPE html>
<html lang="en">
  <head>
    ## This choice should match the #encoding directive above
    <meta charset="UTF-8">
    <title>$station.location</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="seasons.js"></script>
  </head>

  <body onload="setup();">
    #include "titlebar.inc"
    
    <div id="contents">
      <div id="widget_group">
        #include "current.inc"
        #include "sunmoon.inc"
        #include "hilo.inc"
        #include "sensors.inc"
        #include "about.inc"
        #include "radar.inc"
        #include "satellite.inc"
        #include "map.inc"
      </div>

      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">History:&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">Day</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">Week</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">Month</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">Year</a>
          </div>
          <div id="history_day" class="plot_container">
            $graphs('day', 'day')
          </div>
          <div id="history_week" class="plot_container" style="display:none">
            $graphs('week','week')
          </div>
          <div id="history_month" class="plot_container" style="display:none">
            $graphs('month','month')
          </div>
          <div id="history_year" class="plot_container" style="display:none">
            $graphs('year','month')
          </div>
        </div>
      </div>
    </div>

    <p class="footnote">
      This station is controlled by <a href="http://weewx.com/">WeeWX</a>, an
      experimental weather software system written in Python.
    </p>

    #include "analytics.inc"

</body>

</html>
