## Copyright 2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
<html lang="$lang">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$station.location Statistics</title>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    #if $station.station_url
    <link rel="canonical" href="$station.station_url/$filename" />
    #end if
    <script src="seasons.js"></script>
    <style>
#statistics_widget th {
  font-weight: normal;
  text-align: right;
}
#statistics_widget .widget_title {
  margin-bottom: 25px;
}
#statistics_widget .label {
  font-size: 100%;
}
#statistics_widget .data {
  text-align: right;
  font-size: 100%;
  padding-left: 50px;
}
#statistics_widget .units {
  font-size: 100%;
}
#statistics_widget .timestamp {
  color: var(--timestamp-color);
}
    </style>
  </head>

  <body>
    #include "titlebar.inc"
    
    <div id="contents">
      <p><a href="index.html">&#10096; $gettext("Current Conditions")</a></p>

      <div id="widget_group">
        #include "statistics.inc"
      </div>

      #include "identifier.inc"
    </div>

  </body>
</html>
