#errorCatcher Echo
                   TEST ITERATING BY RECORDS
---------------------------------------------------------------------------------------
#for $_record in $day.records
$_record.dateTime $_record.outTemp
#end for
---------------------------------------------------------------------------------------
    
