# systemd service configuration file for WeeWX

[Unit]
Description=WeeWX weather system
Documentation=https://weewx.com/docs
Requires=time-sync.target
After=time-sync.target

[Service]
ExecStart=WEEWX_PYTHON WEEWXD WEEWX_CFGDIR/weewx.conf
StandardOutput=null
StandardError=journal+console
User=WEEWX_USER
Group=WEEWX_GROUP

[Install]
WantedBy=multi-user.target
