#errorCatcher Echo
#import time
#def showDay($ts)
$time.strftime(" %d",$time.localtime($ts))#slurp
#end def
#def showTemp($T)
$("   N/A" if $T is None else "%6.1f" % $T)#slurp
#end def
#def showTime($ts)
$("   N/A" if $ts is None else $time.strftime(" %H:%M", $time.localtime($ts)))#slurp
#end def
#def showRain($r)
$("  N/A " if $r is None else "%6.2f" % $r)#slurp
#end def
#def showWind($w)
$("   N/A" if $w is None else "%6.1f" % $w)#slurp
#end def
#def showDir($d)
$("   N/A" if $d is None else "%6.0f" % $d)#slurp
#end def
                   MONTHLY CLIMATOLOGICAL SUMMARY for $month_name $year_name


NAME: $station.location                  
ELEV: $station.altitude    LAT: $station.latitude[0]-$station.latitude[1] $station.latitude[2]    LONG: $station.longitude[0]-$station.longitude[1] $station.longitude[2]


                   TEMPERATURE (F), RAIN (in), WIND SPEED (mph)

                                         HEAT   COOL         AVG
      MEAN                               DEG    DEG          WIND                   DOM
DAY   TEMP   HIGH   TIME    LOW   TIME   DAYS   DAYS   RAIN  SPEED   HIGH   TIME    DIR
---------------------------------------------------------------------------------------
#for $day in $month.days
#if $day.barometer.count
$showDay($day.dateTime) $showTemp($day.outTemp.avg) $showTemp($day.outTemp.max) $showTime($day.outTemp.maxtime) $showTemp($day.outTemp.min) $showTime($day.outTemp.mintime) $showTemp($day.heatdeg.sum) $showTemp($day.cooldeg.sum) $showRain($day.rain.sum) $showWind($day.wind.avg) $showWind($day.wind.max) $showTime($day.wind.maxtime) $showDir($day.wind.vecdir)
#else
$showDay($day.dateTime)
#end if
#end for
---------------------------------------------------------------------------------------
    $showTemp($month.outTemp.avg) $showTemp($month.outTemp.max)    $showDay($month.outTemp.maxtime) $showTemp($month.outTemp.min)    $showDay($month.outTemp.mintime) $showTemp($month.heatdeg.sum) $showTemp($month.cooldeg.sum) $showRain($month.rain.sum) $showWind($month.wind.avg) $showWind($month.wind.max)    $showDay($month.wind.maxtime) $showDir($month.wind.vecdir)