## pmon for weewx - Copyright 2013-2014 Matthew Wall
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- pmon for weewx - Copyright Matthew Wall -->
    <title>pmon</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}	
    </style>
  </head>

  <body>
    <img src="dayprocmem.png" />
    <img src="weekprocmem.png" />
    <img src="monthprocmem.png" />
  </body>
</html>
