/* css definitions for the standard skin */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.page_heading {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    overflow: auto;
}

.section_heading {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    font-weight: bold;
    margin-bottom: 3px;
    padding-left: 2px;
}

.button {
    border-bottom: none;
}
.button_active {
    border-bottom: 4px solid #555555;
}

.logo {
    float: right;
    margin-left: 30px;
}
.logo img {
    width: 48px;
}
.rss {
    float: left;
}
.rss img {
    width: 16px;
}

.nav {
    clear: both;
    margin-top: 10px;
}
.navitem {
    float: left;
    margin-right: 20px;
    text-align: left;
    cursor: pointer;
}

.title_left {
    float: left;
}
.title_right {
    float: right;
}
.station_title {
    font-size: 140%;
    font-weight: bold;
}
.station_location {
    float: right;
    font-size: 90%;
}
.page_title {
    font-size: 120%;
    font-weight: bold;
}

.sidebar {
    float: right;
}

.sidebar table {
    margin-left: auto;
}

.widget {
    margin-bottom: 20px;
}

.label {
    text-align: right;
}
.data {
    font-weight: bold;
}

.historical_summary .data {
    text-align: right;
}

.historical_summary th {
    text-align: right;
    font-weight: normal;
}
.historical_summary tr {
    vertical-align: top;
}

.celestial tr {
    vertical-align: top;
}
.celestial caption {
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
}

.plot {
    width: 600px;
}
