Source: weewx
Section: science
Priority: extra
Maintainer: Tom Keffer <tkeffer@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python (>=2.6.6-3~), python-configobj(>=4.5)
Standards-Version: 3.9.2
Homepage: http://www.weewx.com
Vcs-Svn: https://weewx.svn.sourceforge.net/svnroot/weewx
Vcs-Browser: http://weewx.svn.sourceforge.net/viewvc/weewx/
X-Python-Version: >= 2.6

Package: weewx
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-cheetah(>=2.0), 
	python-serial(>=2.3), python-imaging(>=1.1.6), python-usb
Recommends: python-dev, python-pip
Description: Unix weather software
 weewx is software program, written in Python, which interacts with your
 weather station to produce graphs, reports, and HTML pages, which
 can then be optionally uploaded to your website. It can optionally 
 publish to the WeatherUnderground, PWSweather.com, or CWOP. It uses
 an easy to understand, extensible, architecture.
