# udev rules for hardware recognized by weewx
#
# copy this file to /etc/udev/rules.d
# sudo udevadm control --reload-rules
# unplug then replug the USB device

# make any acurite station connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="24C0", ATTRS{idProduct}=="0003", MODE="0666"
# make any fine offset station connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="1941", ATTRS{idProduct}=="8021", MODE="0666"
# make any te923 station connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="1130", ATTRS{idProduct}=="6801", MODE="0666"
# make any oregon scientific wmr100 connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="0FDE", ATTRS{idProduct}=="CA01", MODE="0666"
# make any oregon scientific wmr200 connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="0FDE", ATTRS{idProduct}=="CA01", MODE="0666"
# make any oregon scientific wmr300 connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="0FDE", ATTRS{idProduct}=="CA08", MODE="0666"
# make any ws28xx transceiver connected via usb accessible to non-root
SUBSYSTEM=="usb", ATTRS{idVendor}=="6666", ATTRS{idProduct}=="5555", MODE="0666"

# make symlink for rainwise cc3000 connected via usb-serial
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="cc3000"
# make symlink for davis vantage connected via usb-serial
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="vantage"
