#errorCatcher Echo

#set global $title_label = 'Yearly Weather Conditions'
#include "headerCompact.tmpl"

<div id="container" class="row">
		<div id="sidebar" class="column column-3">
			
			#set global $archive = $year
			#set global $stats_label = 'This Year'
			#include "stats_table.tmpl"
			
			<div id="about" class="widget">
        #include "about.tmpl"
			</div>
			
		</div> <!-- End Sidebar -->

		<div id="main" class="column column-9">
        
        <div class="header">
          <h3>Yearly Statistics and Plots</h3>
        </div>
        <div id="plots">
          <img src="yeartempdew.png" alt="temperatures" />
          <img src="yeartempchill.png" alt="heatchill" />
          <img src="yearhilow.png" alt="Yearly high/low" />
          <img src="yearrain.png" alt="rain" />
          <img src="yearwind.png" alt="wind" />
          <img src="yearbarometer.png" alt="barometer"/>
          <img src="yearwinddir.png" alt="Hi Wind" />
          <img src="yearinside.png" alt="Inside" />
          <img src="yearwindvec.png" alt="Wind Vector" />
          #if $year.radiation.has_data
          <img src="yearradiation.png" alt="Radiation" />
          #end if
          #if $year.rxCheckPercent.has_data
          <img src="yearrx.png" alt="year rx percent"/>
          #end if
          #if $year.extraTemp1.has_data
          <img src="yearpond.png" alt="Pond Temperatures" />
          #end if
				</div> <!--  End Plots -->
		</div> <!-- End Main -->
	</div><!-- End Row "container: -->

			#include "footer.tmpl"
