#encoding UTF-8
<!DOCTYPE html>
<html lang="$lang">
<head>
  <meta charset="UTF-8">
  <title>$obs.label.outHumidity $gettext("in") $station.location</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="page" data-add-back-btn="true" data-theme="a">
    <div data-role="header">
      <h1>$obs.label.outHumidity</h1>
    </div>
    <div data-role="content">
      <h4>$gettext("24h outside humidity")</h4>
      <img src="dayhumidity.png"/>
      <h4>$gettext("Last 7 days")</h4>
      <img src="weekhumidity.png" />
      <h4>$gettext("Last 30 days")</h4>
      <img src="monthhumidity.png" />
    </div>
    <div data-role="footer">
      <h4>WeeWX v$station.version</h4>
    </div>
  </div>
</body>
