#encoding UTF-8
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>$station.location Weather Conditions</title>
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <link rel="apple-touch-icon" href="icons/icon_iphone_x1.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="icons/icon_ipad_x2.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="icons/icon_iphone_x2.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="icons/icon_ipad_x2.png" />
  <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="custom.js"></script>
  <script src="https://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
.radar {
  width: 300px;
}
  </style>
</head>
<body>
  <div data-role="page" data-theme="a">
    <div data-role="header">
      <h1>$station.location</h1>
    </div>
    <div data-role="content">
      <ul data-role="listview" data-inset="true" data-divider-theme="c">
	<li data-role="list-divider">Last update: $current.dateTime</li>
	<li><a href="barometer.html">Barometer: $current.barometer ($trend.barometer)</a></li>
        <li><a href="temp.html">Temperature: $current.outTemp [$day.outTemp.min, $day.outTemp.max]</a></li>
        <li><a href="humidity.html">Humidity: $current.outHumidity [$day.outHumidity.min, $day.outHumidity.max]</a></li>
        <li><a href="rain.html">Rain: $current.rainRate ($day.rain.sum)</a></li>
	<li><a href="wind.html">Wind: $current.windSpeed from $current.windDir.ordinal_compass ($current.windDir)</a></li>
      </ul>
      #if $Extras.has_key('radar_img') and $Extras.has_key('radar_url')
    </div>
    <div data-role="content">
      <a  href="$Extras.radar_url">
        <img src="$Extras.radar_img" class="radar" alt="Radar" />
      </a>
      #elif $Extras.has_key('radar_img')
    </div>
    <div data-role="content">
      <img src="$Extras.radar_img" class="radar" alt="Radar" />
      #elif $Extras.has_key('radar_url')
      <ul data-role="listview" data-inset="true" data-divider-theme="c">
        <li><a  href="$Extras.radar_url">Radar</a></li>
      </ul>
    </div>
      #else
    </div>
      #end if
    <div data-role="footer">
      <h4>weewx v$station.version</h4>
    </div>
  </div> 
</body>

