# systemd service template file for running multiple instances of weewxd
#
# Each instance XXX must have its own config, database, and HTML_ROOT:
#
#  item            name                           where to specify
#  --------        -----------------------------  ----------------------------
#  config          /etc/weewx/XXX.conf            configuration directory
#  database_name   /var/lib/weewx/XXX.sdb         specified in XXX.conf
#  HTML_ROOT       /var/www/html/XXX              specified in XXX.conf

[Unit]
Description=WeeWX %i
Documentation=https://weewx.com/docs
Requires=time-sync.target
After=time-sync.target
Wants=network-online.target
After=network-online.target
PartOf=weewx.service

[Service]
ExecStart=weewxd --log-label weewxd-%i /etc/weewx/%i.conf
StandardOutput=null
StandardError=journal+console
RuntimeDirectory=weewx
RuntimeDirectoryMode=775
User=weewx
Group=weewx

[Install]
WantedBy=multi-user.target
