#errorCatcher Echo
#set global $page_title = $Extras.labels.current_title
#set global $period = 'day'
#set global $archive = $day
#set global $btn = {'current':'button_active'}
#include "dwmy_page.inc"
