#errorCatcher Echo
#set global $page_title = $Extras.labels.month_title
#set global $period = 'month'
#set global $archive = $month
#set global $btn = {'month':'button_active'}
#include "dwmy_page.inc"
