/* css definitions for the standard skin */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.page_heading {
    width: 98%;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    display: inline-block;
}

.section_heading {
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    font-weight: bold;
    margin-bottom: 3px;
    padding-left: 2px;
}

.button {
    border-bottom: none;
}
.button_active {
    border-bottom: 4px solid #555555;
}

.logo {
    float: right;
    margin-left: 30px;
}
.logo img {
    width: 48px;
}
.rss {
    float: left;
}
.rss img {
    width: 16px;
}

.nav {
    clear: both;
    margin-top: 10px;
}
.navitem {
    float: left;
    width: 80px;
    margin-right: 20px;
    text-align: left;
}

.title_left {
    float: left;
}
.title_right {
    float: right;
}
.station_title {
    font-size: 140%;
    font-weight: bold;
}
.station_location {
    float: right;
    font-size: 90%;
}
.page_title {
    font-size: 120%;
    font-weight: bold;
}

.sidebar {
    float: right;
}

.sidebar table {
    margin-left: auto;
}

.widget {
    margin-bottom: 20px;
}

.stats_label {
    text-align: right;
}
.stats_data {
    font-weight: bold;
}
.stats_time {
    font-size: 70%;
    text-align: right;
}

.historical_summary th {
    text-align: right;
    font-weight: normal;
}
.historical_summary tr {
    vertical-align: top;
}
.historical_summary .stats_data {
    text-align: right;
}

.celestial tr {
    vertical-align: top;
}
.celestial .label {
    text-align: right;
}
.celestial .data {
    font-weight: bold;
}
.celestial caption {
    text-align: left;
    border-bottom: 1px solid #aaaaaa;
}

.about .label {
    text-align: right;
}
.about .data {
    font-weight: bold;
}

.metrics table {
    margin-bottom: 15px;
}
.metrics .table_title {
    font-weight: bold;
    border-bottom: 1px solid #aaaaaa;
}
.metrics .label {
    text-align: right;
}
.metrics .data {
    font-weight: bold;
}
.metrics .hilo_time {
    font-size: 70%;
    text-align: right;
}

#radar img {
    width: 100%;
}

#station_info .label {
    text-align: right;
}
#station_info .data {
    text-align: left;
}

#plots {
    border: none;
}
#plots img {
    border: 1px solid #dddddd;
}
