#errorCatcher Echo
## An encoding of UTF-8 is usually safe, but if the text is actually
## in Latin-1, then replace the string "UTF-8" with "latin-1"
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Weather Conditions</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type="text/javascript">
var cookie_prefix = "weewx.standard.";
var widgets = ['radar', 'current', 'celestial', 'hilo', 'about'];
var periods = ['day', 'week', 'month', 'year'];

function setup() {
  var pane = get_cookie('history', 'day');
  choose_plot(pane);
  for(var i=0; i<widgets.length; i++) {
    var state = get_cookie(widgets[i]+'.state', 'expanded');
    toggle_widget(widgets[i], state);
  }
}

function choose_plot(id) {
  set_cookie('history', id);
  for(var i=0; i<periods.length; i++) {
    var c = document.getElementById('control_'+periods[i]);
    if(c) c.className = (periods[i] == id) ? 'period_selected' : 'period';
    var g = document.getElementById('plots_'+periods[i]);
    if(g) g.style.display = (periods[i] == id) ? 'block' : 'none';
  }
}

function toggle_widget(id, state) {
  var c = document.getElementById(id+'_widget');
  if(c) {
    for(var i=0; i<c.childNodes.length; i++) {
      if(c.childNodes[i].className == 'widget_contents') {
        if(state === undefined) {
          // make it the opposite of the current state
          state = c.childNodes[i].style.display == 'block' ? 'collapsed' : 'expanded';
        }
        c.childNodes[i].style.display = (state == 'expanded') ? 'block' : 'none';
      }
    }
    set_cookie(id+'.state', state);
  }
}

function set_cookie(name, value, dur) {
  if(dur==null || dur==0) dur=30;
  var today = new Date();
  var expire = new Date();
  expire.setTime(today.getTime() + 24*3600000*dur);
  document.cookie = cookie_prefix+name+"="+escape(value)+";expires="+expire.toGMTString();
}

function get_cookie(name, default_value) {
  if(name=="") return default_value;
  var full_name = cookie_prefix+name;
  var cookie = " "+document.cookie;
  var i = cookie.indexOf(" "+full_name+"=");
  if(i<0) i = cookie.indexOf(";"+full_name+"=");
  if(i<0) return default_value;
  var j = cookie.indexOf(";", i+1);
  if(j<0) j = cookie.length;
  return unescape(cookie.substring(i + full_name.length + 2, j));
}

function openNOAAFile(date) {
  window.location = "NOAA/NOAA-" + date + ".txt";
}
    </script>
  </head>

  <body onload='setup();'>
    <div id="title_bar">
      <div id="title">
        <h1 class="page_title">$station.location</h1>
        <p class="lastupdate">$current.dateTime</p>
      </div>
      <div id="rss_link"><a href="rss.xml">RSS</a></div>
      <div id="reports">
        Monthly Reports:
        <select name="reports" onchange="openNOAAFile(value)">
          #for $monthYear in $SummaryByMonth
          <option value="$monthYear">$monthYear</option>
          #end for
          <option selected>- Select Month -</option>
        </select>
        <br/>
        Yearly Reports:
        <select name="reports" onchange="openNOAAFile(value)">
          #for $yr in $SummaryByYear
          <option value="$yr">$yr</option>
          #end for
          <option selected>- Select Year -</option>
        </select>
      </div>
    </div>
    
    <div id="contents">
      <div id="widget_group">
        #include "radar.inc"
        #include "current.inc"
        #include "celestial.inc"
        #include "hilo.inc"
        #include "about.inc"
      </div>

      <div id="plot_group">
        <div id="plot_title" class="widget_title">History: 
          <a class="period_selected" id="control_day"
             onclick="choose_plot('day')">Day</a>
          <a class="period" id="control_week"
             onclick="choose_plot('week')">Week</a>
          <a class="period" id="control_month"
             onclick="choose_plot('month')">Month</a>
          <a class="period" id="control_year"
             onclick="choose_plot('year')">Year</a>
        </div>
        <div id="history_widget" class="widget">
          <div id="plots_day" class="plots">
            <img src="daybarometer.png" alt="Barometer"/>
            <img src="daytempdew.png"   alt="Temperature" />
            <img src="daytempfeel.png"  alt="Heat/Chill" />
            <img src="dayhum.png"       alt="Humidity" />
            <img src="daywind.png"      alt="Wind Speed" />
            <img src="daywinddir.png"   alt="Wind Direction" />
            <img src="daywindvec.png"   alt="Wind Vector" />
            <img src="dayrain.png"      alt="Rain" />
            #if $day.UV.has_data
            <img src="dayuv.png"        alt="UV Index" />
            #end if
            #if $day.radiation.has_data
            <img src="dayradiation.png" alt="Radiation" />
            #end if
            #if $day.inTemp.has_data
            <img src="daytempin.png"    alt="Inside Temperature" />
            #end if
            #if $day.extraTemp1.has_data
            <img src="daytemp1.png"     alt="Pond Temperatures" />
            #end if
            #if $day.rxCheckPercent.has_data
            <img src="dayrx.png"        alt="Connectivity"/>
            #end if
          </div>
          <div id="plots_week" class="plots" style="display:none">
            <img src="weekbarometer.png" alt="Barometer"/>
            <img src="weektempdew.png"   alt="Temperature" />
            <img src="weektempfeel.png"  alt="Heat/Chill" />
            <img src="weekhum.png"       alt="Humidity" />
            <img src="weekwind.png"      alt="Wind Speed" />
            <img src="weekwinddir.png"   alt="Wind Direction" />
            <img src="weekwindvec.png"   alt="Wind Vector" />
            <img src="weekrain.png"      alt="Rain" />
            #if $week.UV.has_data
            <img src="weekuv.png"        alt="UV Index" />
            #end if
            #if $week.radiation.has_data
            <img src="weekradiation.png" alt="Radiation" />
            #end if
            #if $week.inTemp.has_data
            <img src="weektempin.png"    alt="Inside Temperature" />
            #end if
            #if $week.extraTemp1.has_data
            <img src="weektemp1.png"     alt="Pond Temperatures" />
            #end if
            #if $week.rxCheckPercent.has_data
            <img src="weekrx.png"        alt="Connectivity"/>
            #end if
          </div>
          <div id="plots_month" class="plots" style="display:none">
            <img src="monthbarometer.png" alt="Barometer"/>
            <img src="monthtempdew.png"   alt="Temperature" />
            <img src="monthtempfeel.png"  alt="Heat/Chill" />
            <img src="monthhum.png"       alt="Humidity" />
            <img src="monthwind.png"      alt="Wind Speed" />
            <img src="monthwinddir.png"   alt="Wind Direction" />
            <img src="monthwindvec.png"   alt="Wind Vector" />
            <img src="monthrain.png"      alt="Rain" />
            #if $month.UV.has_data
            <img src="monthuv.png"        alt="UV Index" />
            #end if
            #if $month.radiation.has_data
            <img src="monthradiation.png" alt="Radiation" />
            #end if
            #if $month.inTemp.has_data
            <img src="monthtempin.png"    alt="Inside Temperature" />
            #end if
            #if $month.extraTemp1.has_data
            <img src="monthtemp1.png"     alt="Pond Temperatures" />
            #end if
            #if $month.rxCheckPercent.has_data
            <img src="monthrx.png"        alt="Connectivity"/>
            #end if
          </div>
          <div id="plots_year" class="plots" style="display:none">
            <img src="yearbarometer.png" alt="Barometer"/>
            <img src="yeartempdew.png"   alt="Temperature" />
            <img src="yeartempfeel.png"  alt="Heat/Chill" />
            <img src="yearhum.png"       alt="Humidity" />
            <img src="yearwind.png"      alt="Wind Speed" />
            <img src="yearwinddir.png"   alt="Wind Direction" />
            <img src="yearwindvec.png"   alt="Wind Vector" />
            <img src="yearrain.png"      alt="Rain" />
            #if $year.UV.has_data
            <img src="yearuv.png"        alt="UV Index" />
            #end if
            #if $year.radiation.has_data
            <img src="yearradiation.png" alt="Radiation" />
            #end if
            #if $year.inTemp.has_data
            <img src="yeartempin.png"    alt="Inside Temperature" />
            #end if
            #if $year.extraTemp1.has_data
            <img src="yeartemp1.png"     alt="Pond Temperatures" />
            #end if
            #if $year.rxCheckPercent.has_data
            <img src="yearrx.png"        alt="Connectivity"/>
            #end if
          </div>
        </div>
      </div>
    </div>

    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    #include analytics.inc
    #end if

</body>

</html>
