#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Weekly weather summary</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="masthead">
        <h1>$station.location</h1>
        <h2>Weekly Weather Summary</h2>
          <h2>$current.dateTime</h2>
      </div>

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            This Week
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  High Temperature<br/>
                  Low Temperature
                </td>
                <td class="stats_data">
                  $week.outTemp.max at $week.outTemp.maxtime<br/>
                  $week.outTemp.min at $week.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Heat Index
                </td>
                <td class="stats_data"> 
                  $week.heatindex.max at $week.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  Low Wind Chill
                </td>
                <td class="stats_data"> 
                  $week.windchill.min at $week.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Humidity<br/>
                  Low Humidity
                </td>
                <td class="stats_data">
                  $week.outHumidity.max $week.outHumidity.maxtime<br/>
                  $week.outHumidity.min $week.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Dewpoint<br/>
                  Low Dewpoint
                </td>
                <td class="stats_data">
                  $week.dewpoint.max $week.dewpoint.maxtime<br/>
                  $week.dewpoint.min $week.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Barometer<br/>
                  Low Barometer
                </td>
                <td class="stats_data">
                  $week.barometer.max at $week.barometer.maxtime<br/>
                  $week.barometer.min at $week.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Rain Total
                </td>
                <td class="stats_data">
                  $week.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  High Rain Rate
                </td>
                <td class="stats_data">
                  $week.rainRate.max at $week.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Wind Speed
                </td>
                <td class="stats_data">
                  $week.wind.max from $week.wind.gustdir at $week.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Average Wind
                </td>
                <td class="stats_data">
                  $week.wind.avg
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                  $week.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Vector Average Speed<br/>
                  Vector Average Direction
                </td>
                <td class="stats_data">
                  $week.wind.vecavg<br/>
                  $week.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Inside Temperature<br/>
                  Low Inside Temperature
                </td>
                <td class="stats_data">
                  $week.inTemp.max at $week.inTemp.maxtime<br/>
                  $week.inTemp.min at $week.inTemp.mintime
                </td>
              </tr>
			  #if $week.extraTemp1.has_data
              <tr>
                <td class="stats_label">
                  High Pond Temperature<br/>
                  Low Pond Temperature
                </td>
                <td class="stats_data">
                  $week.extraTemp1.max at $week.extraTemp1.maxtime<br/>
                  $week.extraTemp1.min at $week.extraTemp1.mintime
                </td>
              </tr>
              #end if
              #if $week.UV.has_data
              <tr>
                <td class="stats_label">
                  High UV<br/>
                  Low UV
                </td>
                <td class="stats_data">
                  $week.UV.max at $week.UV.maxtime<br/>
                  $week.UV.min at $week.UV.mintime
                </td>
              </tr>
              #end if
              #if $week.ET.has_data and $week.ET.sum.raw > 0.0
              <tr>
                <td class="stats_label">
                  High ET<br/>
                  Low ET
                </td>
                <td class="stats_data">
                  $week.ET.max at $week.ET.maxtime<br/>
                  $week.ET.min at $week.ET.mintime
                </td>
              </tr>
              #end if
              #if $week.radiation.has_data
              <tr>
                <td class="stats_label">
                  High Radiation<br/>
                  Low Radiation
                </td>
                <td class="stats_data">
                  $week.radiation.max at $week.radiation.maxtime<br/>
                  $week.radiation.min at $week.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

        <p>&nbsp;</p>

        <div class="stats">
          <div class="stats_header">
            This Month
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  High Temperature<br/>
                  Low Temperature
                </td>
                <td class="stats_data">
                  $month.outTemp.max at $month.outTemp.maxtime<br/>
                  $month.outTemp.min at $month.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Heat Index
                </td>
                <td class="stats_data"> 
                  $month.heatindex.max at $month.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  Low Wind Chill
                </td>
                <td class="stats_data"> 
                  $month.windchill.min at $month.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Humidity<br/>
                  Low Humidity
                </td>
                <td class="stats_data">
                  $month.outHumidity.max at $month.outHumidity.maxtime<br/>
                  $month.outHumidity.min at $month.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Dewpoint<br/>
                  Low Dewpoint
                </td>
                <td class="stats_data">
                  $month.dewpoint.max at $month.dewpoint.maxtime<br/>
                  $month.dewpoint.min at $month.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Barometer<br/>
                  Low Barometer
                </td>
                <td class="stats_data">
                  $month.barometer.max at $month.barometer.maxtime<br/>
                  $month.barometer.min at $month.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Rain Total
                </td>
                <td class="stats_data">
                  $month.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  High Rain Rate
                </td>
                <td class="stats_data">
                  $month.rainRate.max at $month.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Wind Speed
                </td>
                <td class="stats_data">
                  $month.wind.max from $month.wind.gustdir at $month.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Average Wind
                </td>
                <td class="stats_data">
                  $month.wind.avg
                </td>
              </td>
              
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                  $month.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Vector Average Speed<br/>
                  Vector Average Direction
                </td>
                <td class="stats_data">
                  $month.wind.vecavg<br/>
                  $month.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Inside Temperature<br/>
                  Low Inside Temperature
                </td>
                <td class="stats_data">
                  $month.inTemp.max at $month.inTemp.maxtime<br/>
                  $month.inTemp.min at $month.inTemp.mintime
                </td>
              </tr>
              #if $month.extraTemp1.has_data
              <tr>
                <td class="stats_label">
                  High Pond Temperature<br/>
                  Low Pond Temperature
                </td>
                <td class="stats_data">
                  $month.extraTemp1.max at $month.extraTemp1.maxtime<br/>
                  $month.extraTemp1.min at $month.extraTemp1.mintime
                </td>
              </tr>
              #end if
              #if $month.UV.has_data
              <tr>
                <td class="stats_label">
                  High UV<br/>
                  Low UV
                </td>
                <td class="stats_data">
                  $month.UV.max at $month.UV.maxtime<br/>
                  $month.UV.min at $month.UV.mintime
                </td>
              </tr>
              #end if
              #if $month.ET.has_data and $month.ET.sum.raw >0.0
              <tr>
                <td class="stats_label">
                  High ET<br/>
                  Low ET
                </td>
                <td class="stats_data">
                  $month.ET.max at $month.ET.maxtime<br/>
                  $month.ET.min at $month.ET.mintime
                </td>
              </tr>
              #end if
              #if $month.radiation.has_data
              <tr>
                <td class="stats_label">
                  High Radiation<br/>
                  Low Radiation
                </td>
                <td class="stats_data">
                  $month.radiation.max at $month.radiation.maxtime<br/>
                  $month.radiation.min at $month.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

      </div> <!-- End class "stats_group" -->

      <div id="content">
        
        <div class="header">
          <h3>Weekly Statistics and Plots</h3>
        </div>
        <div id="plots">
          <img src="weektempdew.png" alt="temperatures" />
          <img src="weektempchill.png" alt="heatchill" />
          <img src="weekrain.png" alt="rain" />
          <img src="weekwind.png" alt="wind" />
          <img src="weekbarometer.png" alt="barometer"/>
          <img src="weekwinddir.png" alt="Hi Wind" />
          <img src="weekinside.png" alt="Inside" />
          <img src="weekwindvec.png" alt="Wind Vector" />
          #if $week.radiation.has_data
          <img src="weekradiation.png" alt="Radiation" />
          #end if
          #if $week.UV.has_data
          <img src="weekuv.png" alt="UV Index" />
          #end if
          #if $week.rxCheckPercent.has_data
          <img src="weekrx.png" alt="week rx percent"/>
          #end if
          #if $week.extraTemp1.has_data
          <img src="weekpond.png" alt="Pond Temperatures" />
          #end if
        </div>
      </div> <!-- End id "content" -->

      <div id="navbar">
        <input type="button" value="   Current   " onclick="openURL('index.html')" />
        <input type="button" value="    Week     " onclick="openURL('week.html')" />
        <input type="button" value="    Month    " onclick="openURL('month.html')" />
        <input type="button" value="    Year     " onclick="openURL('year.html')" />
      </div>
    </div> <!-- End id "container" -->

    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    #end if

  </body>
</html>
