## Copyright 2009-2021 Tom Keffer
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
#encoding UTF-8
##
<!DOCTYPE html>
<html lang="$lang">
  <head>
    ## Specifying an encoding of UTF-8 is usually safe:
    <meta charset="UTF-8">
    <title>$station.location $gettext("Weekly Weather Summary")</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    #if $station.station_url
    <link rel="canonical" href="$station.station_url/$filename" />
    #end if
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="masthead">
        <h1>$station.location</h1>
        <h2>$gettext("Weekly Weather Summary")</h2>
          <h2>$current.dateTime</h2>
      </div>

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            $gettext("This Week")
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  $gettext("High Temperature")<br/>
                  $gettext("Low Temperature")
                </td>
                <td class="stats_data">
                  $week.outTemp.max $gettext("at") $week.outTemp.maxtime<br/>
                  $week.outTemp.min $gettext("at") $week.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Heat Index")
                </td>
                <td class="stats_data"> 
                  $week.heatindex.max $gettext("at") $week.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  $gettext("Low Wind Chill")
                </td>
                <td class="stats_data"> 
                  $week.windchill.min $gettext("at") $week.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Humidity")<br/>
                  $gettext("Low Humidity")
                </td>
                <td class="stats_data">
                  $week.outHumidity.max $week.outHumidity.maxtime<br/>
                  $week.outHumidity.min $week.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Dewpoint")<br/>
                  $gettext("Low Dewpoint")
                </td>
                <td class="stats_data">
                  $week.dewpoint.max $week.dewpoint.maxtime<br/>
                  $week.dewpoint.min $week.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Barometer")<br/>
                  $gettext("Low Barometer")
                </td>
                <td class="stats_data">
                  $week.barometer.max $gettext("at") $week.barometer.maxtime<br/>
                  $week.barometer.min $gettext("at") $week.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("Rain Total")
                </td>
                <td class="stats_data">
                  $week.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  $gettext("High Rain Rate")
                </td>
                <td class="stats_data">
                  $week.rainRate.max $gettext("at") $week.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Wind")
                </td>
                <td class="stats_data">
                  $week.wind.max $gettext("from") $week.wind.gustdir $gettext("at") $week.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("Average Wind")
                </td>
                <td class="stats_data">
                  $week.wind.avg
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">
                  $gettext("RMS Wind")
                </td>
                <td class="stats_data">
                  $week.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  $gettext("Vector Average Speed")<br/>
                  $gettext("Vector Average Direction")
                </td>
                <td class="stats_data">
                  $week.wind.vecavg<br/>
                  $week.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Inside Temperature")<br/>
                  $gettext("Low Inside Temperature")
                </td>
                <td class="stats_data">
                  $week.inTemp.max $gettext("at") $week.inTemp.maxtime<br/>
                  $week.inTemp.min $gettext("at") $week.inTemp.mintime
                </td>
              </tr>
              #if $week.UV.has_data
              <tr>
                <td class="stats_label">
                  $gettext("High UV")<br/>
                  $gettext("Low UV")
                </td>
                <td class="stats_data">
                  $week.UV.max $gettext("at") $week.UV.maxtime<br/>
                  $week.UV.min $gettext("at") $week.UV.mintime
                </td>
              </tr>
              #end if
              #if $week.ET.has_data and $week.ET.sum.raw > 0.0
              <tr>
                <td class="stats_label">
                  $gettext("High ET")<br/>
                  $gettext("Low ET")
                </td>
                <td class="stats_data">
                  $week.ET.max $gettext("at") $week.ET.maxtime<br/>
                  $week.ET.min $gettext("at") $week.ET.mintime
                </td>
              </tr>
              #end if
              #if $week.radiation.has_data
              <tr>
                <td class="stats_label">
                  $gettext("High Radiation")<br/>
                  $gettext("Low Radiation")
                </td>
                <td class="stats_data">
                  $week.radiation.max $gettext("at") $week.radiation.maxtime<br/>
                  $week.radiation.min $gettext("at") $week.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

        <p>&nbsp;</p>

        <div class="stats">
          <div class="stats_header">
            $gettext("This Month")
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  $gettext("High Temperature")<br/>
                  $gettext("Low Temperature")
                </td>
                <td class="stats_data">
                  $month.outTemp.max $gettext("at") $month.outTemp.maxtime<br/>
                  $month.outTemp.min $gettext("at") $month.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Heat Index")
                </td>
                <td class="stats_data"> 
                  $month.heatindex.max $gettext("at") $month.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  $gettext("Low Wind Chill")
                </td>
                <td class="stats_data"> 
                  $month.windchill.min $gettext("at") $month.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Humidity")<br/>
                  $gettext("Low Humidity")
                </td>
                <td class="stats_data">
                  $month.outHumidity.max $gettext("at") $month.outHumidity.maxtime<br/>
                  $month.outHumidity.min $gettext("at") $month.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Dewpoint")<br/>
                  $gettext("Low Dewpoint")
                </td>
                <td class="stats_data">
                  $month.dewpoint.max $gettext("at") $month.dewpoint.maxtime<br/>
                  $month.dewpoint.min $gettext("at") $month.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Barometer")<br/>
                  $gettext("Low Barometer")
                </td>
                <td class="stats_data">
                  $month.barometer.max $gettext("at") $month.barometer.maxtime<br/>
                  $month.barometer.min $gettext("at") $month.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("Rain Total")
                </td>
                <td class="stats_data">
                  $month.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  $gettext("High Rain Rate")
                </td>
                <td class="stats_data">
                  $month.rainRate.max $gettext("at") $month.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Wind")
                </td>
                <td class="stats_data">
                  $month.wind.max $gettext("from") $month.wind.gustdir $gettext("at") $month.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("Average Wind")
                </td>
                <td class="stats_data">
                  $month.wind.avg
                </td>
              </td>
              
              <tr>
                <td class="stats_label">
                  $gettext("RMS Wind")
                </td>
                <td class="stats_data">
                  $month.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  $gettext("Vector Average Speed")<br/>
                  $gettext("Vector Average Direction")
                </td>
                <td class="stats_data">
                  $month.wind.vecavg<br/>
                  $month.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  $gettext("High Inside Temperature")<br/>
                  $gettext("Low Inside Temperature")
                </td>
                <td class="stats_data">
                  $month.inTemp.max $gettext("at") $month.inTemp.maxtime<br/>
                  $month.inTemp.min $gettext("at") $month.inTemp.mintime
                </td>
              </tr>
              #if $month.UV.has_data
              <tr>
                <td class="stats_label">
                  $gettext("High UV")<br/>
                  $gettext("Low UV")
                </td>
                <td class="stats_data">
                  $month.UV.max $gettext("at") $month.UV.maxtime<br/>
                  $month.UV.min $gettext("at") $month.UV.mintime
                </td>
              </tr>
              #end if
              #if $month.ET.has_data and $month.ET.sum.raw >0.0
              <tr>
                <td class="stats_label">
                  $gettext("High ET")<br/>
                  $gettext("Low ET")
                </td>
                <td class="stats_data">
                  $month.ET.max $gettext("at") $month.ET.maxtime<br/>
                  $month.ET.min $gettext("at") $month.ET.mintime
                </td>
              </tr>
              #end if
              #if $month.radiation.has_data
              <tr>
                <td class="stats_label">
                  $gettext("High Radiation")<br/>
                  $gettext("Low Radiation")
                </td>
                <td class="stats_data">
                  $month.radiation.max $gettext("at") $month.radiation.maxtime<br/>
                  $month.radiation.min $gettext("at") $month.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

      </div> <!-- End class "stats_group" -->

      <div id="content">
        
        <div class="header">
          <h3>$gettext("Weekly Statistics and Plots")</h3>
        </div>
        <div id="plots">
          <img src="weektempdew.png" alt="temperatures" />
          <img src="weektempchill.png" alt="heatchill" />
          <img src="weekhumidity.png"  alt="outside humidity" />
          <img src="weekrain.png" alt="rain" />
          <img src="weekwind.png" alt="wind" />
          <img src="weekbarometer.png" alt="barometer"/>
          <img src="weekwinddir.png" alt="Hi Wind" />
          <img src="weekinside.png" alt="Inside" />
          <img src="weekwindvec.png" alt="Wind Vector" />
          #if $week.radiation.has_data
          <img src="weekradiation.png" alt="Radiation" />
          #end if
          #if $week.UV.has_data
          <img src="weekuv.png" alt="UV Index" />
          #end if
          #if $week.rxCheckPercent.has_data
          <img src="weekrx.png" alt="week rx percent"/>
          #end if
        </div>
      </div> <!-- End id "content" -->

      <div id="navbar">
        <input type="button" value=$pgettext("Buttons","Current") onclick="openURL('index.html')" />
        <input type="button" value=$pgettext("Buttons","Week") onclick="openURL('week.html')" />
        <input type="button" value=$pgettext("Buttons","Month") onclick="openURL('month.html')" />
        <input type="button" value=$pgettext("Buttons","Year") onclick="openURL('year.html')" />
      </div>
    </div> <!-- End id "container" -->

    ## Include the Google Analytics code if the user has supplied an ID:
    #if 'googleAnalyticsId' in $Extras
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    #end if

  </body>
</html>
