#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    #if $encoding == 'utf8'
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #end if    
    <title>$station.location Yearly weather summary</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="masthead">
        <h1>$station.location</h1>
        <h2>Yearly Weather Summary</h2>
          <h2>$current.dateTime</h2>
      </div>

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            Calendar Year
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  High Temperature<br/>
                  Low Temperature
                </td>
                <td class="stats_data">
                  $year.outTemp.max at $year.outTemp.maxtime<br/>
                  $year.outTemp.min at $year.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Heat Index
                </td>
                <td class="stats_data"> 
                  $year.heatindex.max at $year.heatindex.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  Low Wind Chill
                </td>
                <td class="stats_data"> 
                  $year.windchill.min at $year.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Humidity<br/>
                  Low Humidity
                </td>
                <td class="stats_data">
                  $year.outHumidity.max $year.outHumidity.maxtime<br/>
                  $year.outHumidity.min $year.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Dewpoint<br/>
                  Low Dewpoint
                </td>
                <td class="stats_data">
                  $year.dewpoint.max $year.dewpoint.maxtime<br/>
                  $year.dewpoint.min $year.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Barometer<br/>
                  Low Barometer
                </td>
                <td class="stats_data">
                  $year.barometer.max at $year.barometer.maxtime<br/>
                  $year.barometer.min at $year.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Rain Total
                </td>
                <td class="stats_data">
                  $year.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  High Rain Rate
                </td>
                <td class="stats_data">
                  $year.rainRate.max at $year.rainRate.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Wind Speed
                </td>
                <td class="stats_data">
                  $year.wind.max from $year.wind.gustdir at $year.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Average Wind
                </td>
                <td class="stats_data">
                  $year.wind.avg
                </td>
              </tr>
              
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                  $year.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Vector Average Speed<br/>
                  Vector Average Direction
                </td>
                <td class="stats_data">
                  $year.wind.vecavg<br/>
                  $year.wind.vecdir
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Inside Temperature<br/>
                  Low Inside Temperature
                </td>
                <td class="stats_data">
                  $year.inTemp.max at $year.inTemp.maxtime<br/>
                  $year.inTemp.min at $year.inTemp.mintime
                </td>
              </tr>
			  #if $year.extraTemp1.has_data
              <tr>
                <td class="stats_label">
                  High Pond Temperature<br/>
                  Low Pond Temperature
                </td>
                <td class="stats_data">
                  $year.extraTemp1.max at $year.extraTemp1.maxtime<br/>
                  $year.extraTemp1.min at $year.extraTemp1.mintime
                </td>
              </tr>
              #end if
              #if $year.UV.has_data
              <tr>
                <td class="stats_label">
                  High UV<br/>
                  Low UV
                </td>
                <td class="stats_data">
                  $year.UV.max at $year.UV.maxtime<br/>
                  $year.UV.min at $year.UV.mintime
                </td>
              </tr>
              #end if
              #if $year.ET.has_data and $year.ET.sum.raw >0.0
              <tr>
                <td class="stats_label">
                  High ET<br/>
                  Low ET
                </td>
                <td class="stats_data">
                  $year.ET.max at $year.ET.maxtime<br/>
                  $year.ET.min at $year.ET.mintime
                </td>
              </tr>
              #end if
              #if $year.radiation.has_data
              <tr>
                <td class="stats_label">
                  High Radiation<br/>
                  Low Radiation
                </td>
                <td class="stats_data">
                  $year.radiation.max at $year.radiation.maxtime<br/>
                  $year.radiation.min at $year.radiation.mintime
                </td>
              </tr>
              #end if
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

        <p>&nbsp;</p>

        <div class="stats">
          <div class="stats_header">
            Rain Year (1-$station.rain_year_str start)
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  Rain Year Total
                </td>
                <td class="stats_data">
                  $rainyear.rain.sum
                </td>
              </tr>
              <tr>
                <td class="stats_label"> 
                  High Rain Rate
                </td>
                <td class="stats_data">
                  $rainyear.rainRate.max at $rainyear.rainRate.maxtime
                </td>
              </tr>
            </tbody>
          </table>
        </div> <!-- End class "stats" -->

      </div> <!-- End class "stats_group" -->

      <div id="content">
        
        <div class="header">
          <h3>Yearly Statistics and Plots</h3>
        </div>
        <div id="plots">
          <img src="yeartempdew.png" alt="temperatures" />
          <img src="yeartempchill.png" alt="heatchill" />
          <img src="yearhilow.png" alt="Daily highs and lows for the year" title="Daily highs and lows for the year"/>
          <img src="yearrain.png" alt="rain" />
          <img src="yearwind.png" alt="wind" />
          <img src="yearbarometer.png" alt="barometer"/>
          <img src="yearwinddir.png" alt="Hi Wind" />
          <img src="yearinside.png" alt="Inside" />
          <img src="yearwindvec.png" alt="Wind Vector" />
          #if $year.radiation.has_data
          <img src="yearradiation.png" alt="Radiation" />
          #end if
          #if $year.UV.has_data
          <img src="yearuv.png" alt="UV Index" />
          #end if
          #if $year.rxCheckPercent.has_data
          <img src="yearrx.png" alt="year rx percent"/>
          #end if
          #if $year.extraTemp1.has_data
          <img src="yearpond.png" alt="Pond Temperatures" />
          #end if
        </div>
      </div> <!-- End id "content" -->

      <div id="navbar">
        <input type="button" value="   Current   " onclick="openURL('index.html')" />
        <input type="button" value="    Week     " onclick="openURL('week.html')" />
        <input type="button" value="    Month    " onclick="openURL('month.html')" />
        <input type="button" value="    Year     " onclick="openURL('year.html')" />
      </div>
    </div> <!-- End id "container" -->

    ## Include the Google Analytics code if the user has supplied an ID:
    #if $Extras.has_key('googleAnalyticsId')
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
            var pageTracker = _gat._getTracker("$Extras.googleAnalyticsId");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    #end if

  </body>
</html>
