#errorCatcher Echo
##    $Revision$
##    $Author$
##    $Date$
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>$station.location Current Weather Conditions</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <script type="text/javascript">
      function openURL(urlname)
      {
        window.location=urlname;
      }
      function openNoaaFile(date)
      {
        var url = "NOAA/NOAA-";
        url = url + date;
        url = url + ".txt";
        window.location=url;
      }
    </script>
  </head>

  <body>
    <div id="container">
      <div id="masthead">
        <h1>$station.location</h1>
        <h2>Current Weather Conditions</h2>
          <h2>$current.dateTime</h2>
      </div>

      <div id="stats_group">

        <div class="stats">
          <div class="stats_header">
            Current Conditions
          </div>

          <table>
            <tbody>
              <tr>
                <td class="stats_label">Outside Temperature</td>
                <td class="stats_data">$current.outTemp</td>
              </tr>
              <tr>
                <td class="stats_label">Wind Chill</td>
                <td class="stats_data">$current.windchill</td>
              </tr>
              <tr>
                <td class="stats_label">Heat Index</td>
                <td class="stats_data">$current.heatindex</td>
              </tr>
              <tr>
                <td class="stats_label">Dewpoint</td>
                <td class="stats_data">$current.dewpoint</td>
              </tr>
              <tr>
                <td class="stats_label">Humidity</td>
                <td class="stats_data">$current.outHumidity</td>
              </tr>
              <tr>
                <td class="stats_label">Barometer</td>
                <td class="stats_data">$current.barometer</td>
              </tr>
              <tr>
                <td class="stats_label">Wind</td>
                <td class="stats_data">$current.windSpeed from $current.windDir</td>
              </tr>
              <tr>
                <td class="stats_label">Rain Rate</td>
                <td class="stats_data">$current.rainRate</td>
              </tr>
              <tr>
                <td class="stats_label">Inside Temperature</td>
                <td class="stats_data">$current.inTemp</td>
              </tr>
              <tr>
                <td class="stats_label">Pond Temperature</td>
                <td class="stats_data">$current.extraTemp1</td>
              </tr>
              <tr>
                <td class="stats_label">UV</td>
                <td class="stats_data">$current.UV</td>
              </tr>
              <tr>
                <td class="stats_label">ET</td>
                <td class="stats_data">$current.ET</td>
              </tr>
              <tr>
                <td class="stats_label">Solar Radiation</td>
                <td class="stats_data">$current.radiation</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>&nbsp;</p>

        <div class="stats">
          <div class="stats_header">
            Daily Summary
          </div>
          <table>
            <tbody>
              <tr>
                <td class="stats_label">
                  High Temperature<br/>
                  Low Temperature
                </td>
                <td class="stats_data">
                  $day.outTemp.max at $day.outTemp.maxtime<br/>
                  $day.outTemp.min at $day.outTemp.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Heat Index<br/>
                  Low Wind Chill
                </td>
                <td class="stats_data">
                  $day.heatindex.max at $day.heatindex.maxtime<br/>
                  $day.windchill.min at $day.windchill.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Humidity<br/>
                  Low Humidity
                </td>
                <td class="stats_data">
                  $day.outHumidity.max at $day.outHumidity.maxtime<br/>
                  $day.outHumidity.min at $day.outHumidity.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Dewpoint<br/>
                  Low Dewpoint
                </td>
                <td class="stats_data">
                  $day.dewpoint.max at $day.dewpoint.maxtime<br/>
                  $day.dewpoint.min at $day.dewpoint.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Barometer<br/>
                  Low Barometer
                </td>
                <td class="stats_data">
                  $day.barometer.max at $day.barometer.maxtime<br/>
                  $day.barometer.min at $day.barometer.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">Today's Rain</td>
                <td class="stats_data">$day.rain.sum</td>
              </tr>
              <tr>
                <td class="stats_label">High Rain Rate</td>
                <td class="stats_data">$day.rainRate.max at $day.rainRate.maxtime</td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Wind
                </td>
                <td class="stats_data">
                  $day.wind.max from $day.wind.gustdir at $day.wind.maxtime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  Average Wind
                </td>
                <td class="stats_data">
                  $day.wind.avg
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  RMS Wind
                </td>
                <td class="stats_data">
                  $day.wind.rms
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  Vector Average Speed<br/>
                  Vector Average Direction
                </td>
                <td class="stats_data">
                  $day.wind.vecavg<br/>
                  $day.wind.vecdir
                </td>
              </tr>

              <tr>
                <td class="stats_label">
                  High Pond Temperature<br/>
                  Low Pond Temperature
                </td>
                <td class="stats_data">
                  $day.extraTemp1.max at $day.extraTemp1.maxtime<br/>
                  $day.extraTemp1.min at $day.extraTemp1.mintime
                </td>
              </tr>
              <tr>
                <td class="stats_label">
                  High Inside Temperature<br/>
                  Low Inside Temperature
                </td>
                <td class="stats_data">
                  $day.inTemp.max at $day.inTemp.maxtime<br/>
                  $day.inTemp.min at $day.inTemp.mintime
                </td>
              </tr>
            </tbody>
          </table>
        </div> <!--End class "stats" -->

        <p>&nbsp;</p>

        <div id="radar_img">
          <a href="$station.radar_url"><img src="$station.radar_url" alt="Radar" /></a>
        </div>

      </div> <!--End class "stats_group" -->

      <div id="content">
        <div class="header">
          <h3>About this weather station:</h3>
          <table>
            <tr>
              <td align="right">Latitude:</td>
              <td align="left">$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</td>
            </tr>
            <tr>
              <td align="right">Longitude:</td>
              <td align="left">$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</td>
            </tr>
            <tr>
              <td align="right">Altitude:</td>
              <td align="left">$station.altitude</td>
            </tr>
            <tr>
              <td align="right">Sunrise:</td>
              <td align="left">$almanac.sunrise</td>
            </tr>
            <tr>
              <td align="right">Sunset:</td>
              <td align="left">$almanac.sunset</td>
            </tr>
            <tr>
              <td align="right">Moon:</td>
              <td align="left">$almanac.moon_phase ($almanac.moon_fullness% full)</td>
            </tr>
          </table>
          <p>
            This station uses a <a href="http://www.davisnet.com/weather/products/vantagepro.asp">
            Davis Vantage Pro2</a>, controlled by <a href="http://www.weewx.com">'weewx'</a>, an
            experimental weather software system written in Python. Weewx was designed to be simple,
            fast, and easy to understand by leveraging modern software concepts.
          </p>
          ##<p><a href="../weather">More information about this weather station.</a></p>
          <p>Weewx uptime:  $station.uptime<br/>
             Server uptime: $station.os_uptime<br/>
             weewx v$station.version</p>
        </div>
        <div id="plots">
          <img src="daytempdew.png" alt="temperatures" />
          <img src="daytempchill.png" alt="heatchill" />
          <img src="dayrain.png" alt="rain" />
          <img src="daywind.png" alt="wind" />
          <img src="daybarometer.png" alt="barometer"/>
          <img src="daywinddir.png" alt="Hi Wind" />
          <img src="dayinside.png" alt="Inside" />
          <img src="daywindvec.png" alt="Wind Vector" />
          <img src="dayrx.png" alt="day rx percent"/>
          <img src="daypond.png" alt="Pond Temperatures" />
        </div> <!-- End id "plots" -->
      </div> <!-- End id "content" -->

      <div id="navbar">
        <input type="button" value="   Current   " onclick="openURL('index.html')" />
        <input type="button" value="    Week     " onclick="openURL('week.html')" />
        <input type="button" value="    Month    " onclick="openURL('month.html')" />
        <input type="button" value="    Year     " onclick="openURL('year.html')" />
        <p>Monthly summary:&nbsp;
        <select NAME=noaaselect onchange="openNoaaFile(value)">
        #for $monthYear in $NOAA_month_list
            <option value="$monthYear">$monthYear</option>
        #end for
	    <option selected>-Select month-</option>
        </select>
        <br/>
        Yearly summary:&nbsp;
        <select NAME=noaaselect onchange="openNoaaFile(value)">
        #for $year in $NOAA_year_list
            <option value="$year">$year</option>
        #end for
	    <option selected>-Select year-</option>
        </select>
        </p>
      </div>
    </div>

</body>

</html>
