#encoding UTF-8
##
## This is a phone-formatted summary page based on examples posted
## to the wview Google Group, and salted to taste for weewx.
##
## It takes a full screen on my Verizon Fascinate (Samsung Galaxy S)
## and its predecessor(s) were reportedly developed for a Apple iPhone.
##
## vince@skahan.net - 1/16/2010
##
#errorCatcher Echo
#encoding UTF-8
##
<!DOCTYPE html>
<html lang="$lang">
  <head>
    ## Specifying an encoding of UTF-8 is usually safe:
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0;"/>
    <script type="application/x-javascript">
if (navigator.userAgent.indexOf('iPhone') != -1) {
  addEventListener("load", function() {
    setTimeout(hideURLbar, 0);
  }, false);
}
function hideURLbar() {
  window.scrollTo(0, 1);
}
    </script>
    <style type="text/css" media="screen">@import "mobile.css";</style>
</head>

<body>
<center>
<div>
  <table class="readings"> 
    <tr>            
      <td><a href="daytempdew.png">$obs.label.outTemp / $obs.label.dewpoint:</a></td><td class="data"> $current.outTemp / $current.dewpoint </td>
    </tr>
    <tr class="alt">
      <td>$gettext("High Temp"):</td><td class="data"> $day.outTemp.max $gettext("at") $day.outTemp.maxtime </td>
    </tr>
    <tr>            
      <td>$gettext("Low Temp"):</td><td class="data"> $day.outTemp.min $gettext("at") $day.outTemp.mintime </td>
    </tr>
    <tr class="alt">
      <td><a href="daytempfeel.png">$obs.label.heatindex / $obs.label.windchill:</a></td><td class="data"> $current.heatindex / $current.windchill </td>
    </tr>
    <tr>
      <td>$obs.label.outHumidity:</td><td class="data"> $current.outHumidity </td>
    </tr>
    <tr class="alt">
      <td><a href="dayrain.png">$obs.label.rain:</a></td><td class="data"> $day.rain.sum </td>
    </tr>
    <tr>
      <td>$gettext("High Rain Rate"):</td><td class="data"> $day.rainRate.max $gettext("at") $day.rainRate.maxtime </td>
    </tr>
    <tr class="alt">
      <td><a href="daywind.png">$obs.label.windSpeed:</a></td><td class="data"> $current.windSpeed </td>
    </tr>
    <tr>            
      <td>$gettext("High Wind"):</td><td class="data"> $day.wind.max $gettext("at") $day.wind.maxtime </td>
    </tr>
  </table>
</div>


#if 'radar_img' in $Extras
<div class="radar">
  #if 'radar_url' in $Extras
  <a  href="$Extras.radar_url">
  #end if
    <img src="$Extras.radar_img" alt="Radar" />
  #if 'radar_url' in $Extras
  </a>
  #end if
</div>
#end if

<p class="lastupdate"> $current.dateTime</p>

</center>
</body>
</html>
