## xstats for weewx - Copyright 2014 Matthew Wall
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- pmon for weewx - Copyright Matthew Wall -->
    <title>xstats</title>
    <style>
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  background-color: #ffffff;
}	
    </style>
  </head>

  <body>
    $current.dateTime<br/>
    current temperature: $current.outTemp<br/>
    day average: $day.outTemp.avg<br/>
    week average: $week.outTemp.avg<br/>
    month average: $month.outTemp.avg<br/>

#if $varExists('seven_day')
    seven day min: $seven_day.outTemp.min<br/>
    seven day avg: $seven_day.outTemp.avg<br/>
    seven day max: $seven_day.outTemp.max<br/>
#else
    <pre>seven_day</pre> is not functioning<br/>
#end if

#if $varExists('thirty_day')
    thirty day min: $thirty_day.outTemp.min<br/>
    thirty day avg: $thirty_day.outTemp.avg<br/>
    thirty day max: $thirty_day.outTemp.max<br/>
#else
    <pre>thirty_day</pre> is not functioning<br/>
#end if

#if $varExists('alltime')
    alltime min: $alltime.outTemp.min<br/>
    alltime avg: $alltime.outTemp.avg<br/>
    alltime max: $alltime.outTemp.max<br/>
#else
    <pre>alltime</pre> is not functioning<br/>
#end if
  </body>
</html>
