/*
 * $Revision$
 * $Author$
 * $Date$
 */

body {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
p {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
ol {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
ul {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
li {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
    margin-right: 10%;
}
dl {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
dt {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
dd {
    font: 11pt Verdana,arial,sans-serif;
    color: black;
}
h1 {
    font: bold 160% Verdana, arial, sans-serif;
    color: #FFFFFF;
    border: 1px solid black;
    background-color: #008080;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 30pt;
}
h2 {
    font: bold 140% Verdana, arial, sans-serif;
    color: teal;
    margin-top: 20pt;
}
h3 {
    font: bold 120% Verdana, arial, sans-serif;
    color: teal;
}
h4 {
    font: bold 120% Verdana, arial, sans-serif;
    color: teal;
}
.code {
    font-family: "Courier New", Courier, monospace;
}
table {
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    border-collapse: collapse;
}
tr {
  vertical-align: top;
}
td {
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    padding: 5px;
}
.indent {
    margin-left: 40px;
    margin-right: 80px;
}
.tty {
    font-family: "Courier New", Courier, monospace;
    margin: 0px 20px 0px 20px;
    background-color: #FFFFee;
    border: 1px solid #ddddaa;
    padding: 3px;
    font-size: 90%;
    white-space: pre;
}
.title {
    text-align: center;
    margin-top: 0px;
}
.config_section {
}
.config_option {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: black;
    margin-bottom: -12px;
}
.config_important {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #bb9900;
    margin-bottom: -12px;
}
.highlight {
    background-color: #FFCC99;
}
.text_highlight {
    font-weight: bold;
    background-color: #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
}
.center {
    text-align: center;
}
.example_output {
    font-family: "Times New Roman", Times, serif;
    padding: 5px;
    border: thin #000000 dotted;
    margin: 0px 20px 0px 20px;
}
div#toc ul {
    list-style: none;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
    text-align:left;
}
.image {
    padding: 5px;
}
.caption {
    font-size: 70%;
    font-family: Verdana, Arial, sans-serif;
    text-align: center;	
}
.warning {
    background-color: #ffeeee;
    border: 1px solid #ffdddd;
    margin: 10px;
    padding: 5px;
}
.copyright {
    font-style: italic;
    text-align: right;
    color: #FFFFFF;
    border: 1px solid black;
    background-color: #008080;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 30pt;
}
.prompt {
    font-weight: bold;
}
.thumbnail {
    width: 14px;
}
.locations {
    margin-left: 20px;
}
.locations tr {
    vertical-align: middle;
}
.locations_banner {
    font-weight: bold;
    text-align: center;
    font-size: 80%;
}
.tabs {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.tab {
    font-size: 80%;
    font-weight: bold;
    color: #aaaaaa;
    margin: 0px;
    padding: 4px 16px 4px 16px;
    float: left;
}
.selected {
    color: black;
    border-top: 1px solid #ddddaa;
    border-left: 1px solid #ddddaa;
    border-right: 1px solid #ddddaa;
    background-color: #FFFFee;
}
