## cmon for weewx - Copyright 2013-2014 Matthew Wall
## $Id$
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <!-- cmon for weewx - Copyright Matthew Wall -->
    <title>cmon</title>
    <script>
var metrics = [ 'rx','battery','cpu','load','disk','mem','net','ups','upstemp','upstime' ];
var periods = [ 'day','week','month' ];

function setup() {
  /* create the controls */
  var c = document.getElementById('metric_controls');
  if(c) {
    var html = '';
    for(var i=0; i<metrics.length; i++) {
      html += "<input type='checkbox' name='metric' value='" + metrics[i] + "' id='metric." + metrics[i] + "' onclick='populate_graphs(); remember_control(\"metric." + metrics[i] + "\")'>" + metrics[i] + "</input><br/>";
    }
    c.innerHTML = html;
  }
  c = document.getElementById('period_controls');
  if(c) {
    var html = '';
    for(var i=0; i<periods.length; i++) {
      html += "<input type='checkbox' name='period' value='" + periods[i] + "' id='period." + periods[i] + "' onclick='populate_graphs(); remember_control(\"period." + periods[i] + "\")'>" + periods[i] + "</input><br/>";
    }
    c.innerHTML = html;
  }
  c = document.getElementById('group_controls');
  if(c) {
    var html = '';
    html += "<input type='radio' name='group' value='metric' id='group.metric' onclick='populate_graphs()'>metric</input><br/>";
    html += "<input type='radio' name='group' value='period' id='group.period' onclick='populate_graphs()'>period</input><br/>";
    c.innerHTML = html;
  }

  /* set the initial control states */
  var grp = document.getElementById('group.period');
  if(grp) {
    grp.checked = true;
  }
  for(var i=0; i<metrics.length; i++) {
    var id = 'metric.'+metrics[i];
    var ctrl = document.getElementById(id);
    if(ctrl) {
      var v = get_cookie(id);
      ctrl.checked = (v == "" || v.toLowerCase() == "true") ? true : false;
      set_cookie(id, ctrl.checked);
    }
  }
  for(var i=0; i<periods.length; i++) {
    var id = 'period.'+periods[i];
    var ctrl = document.getElementById(id);
    if(ctrl) {
      var v = get_cookie(id);
      ctrl.checked = (v == "") ? ((i==0) ? true : false) : ((v.toLowerCase() == "true") ? true : false)
      set_cookie(id, ctrl.checked);
    }
  }
}

function populate_graphs() {
  var div = document.getElementById('graphs');
  if(!div) return;
  var html = '';
  var ctrl = document.getElementById('group.metric');
  if(ctrl && ctrl.checked) {
    for(var i=0; i<metrics.length; i++) {
      var x = document.getElementById('metric.' + metrics[i]);
      if(x && x.checked) {
        var phtml = '';
        for(var j=0; j<periods.length; j++) {
          var y = document.getElementById('period.' + periods[j]);
          if(y && y.checked) {
            var img = periods[j] + metrics[i];
            phtml += "<img src='" + img + ".png' alt='" + img + "'/><br/>";
          }
        }
        if(phtml.length > 0) {
          html += "<p class='block'>" + phtml + "</p>";
        }
      }
    }
  } else {
    for(var i=0; i<periods.length; i++) {
      var x = document.getElementById('period.' + periods[i]);
      if(x && x.checked) {
        var mhtml = '';
        for(var j=0; j<metrics.length; j++) {
          var y = document.getElementById('metric.' + metrics[j]);
          if(y && y.checked) {
            var img = periods[i] + metrics[j];
            mhtml += "<img src='" + img + ".png' alt='" + img + "'/><br/>";
          }
        }
        if(mhtml.length > 0) {
          html += "<p class='block'>" + mhtml + "</p>";
        }
      }
    }
  }
  div.innerHTML = html;
}

function remember_control(id) {
  var e = document.getElementById(id);
  if(e) {
    set_cookie(id, e.checked);
  }
}

function set_cookie(name, value, dur) {
  if(dur==null || dur==0) dur=30;
  var today = new Date();
  var expire = new Date();
  expire.setTime(today.getTime() + 24*3600000*dur);
  document.cookie = name+"="+escape(value)+";expires="+expire.toGMTString();
}

function get_cookie(name) {
  if(name=="") return;
  var cookie = " "+document.cookie;
  var i = cookie.indexOf(" "+name+"=");
  if(i<0) i = cookie.indexOf(";"+name+"=");
  if(i<0) return "";
  var j = cookie.indexOf(";", i+1);
  if(j<0) i = cookie.length;
  return unescape(cookie.substring(i + name.length + 2, j));
}
    </script>
    <style>
#controls {
  font-size: 90%;
  float: right;
  padding-right: 50px;
}
#controls tr {
  vertical-align: top;
}
.block {
  padding-bottom: 50px;
}
    </style>
  </head>

  <body onload='setup(); populate_graphs();'>
    <p>Station Health</p>
    <div id='controls'>
      <form>
        <table>
          <tr><td style='text-align:right'>Metrics:</td>
            <td id='metric_controls'></td></tr>
          <tr><td style='text-align:right'>Periods:</td>
            <td id='period_controls'></td></tr>
          <tr><td style='text-align:right'>Group by:</td>
            <td id='group_controls'></td></tr>
        </table>
      </form>
    </div>
    <div id='graphs'></div>
  </body>
</html>
