<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>Humidity in $station.location</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div data-role="page" data-add-back-btn="true" data-theme="a">
    <div data-role="header">
      <h1>Humidity</h1>
   </div>
   <div data-role="content">
     <h4>24h humidity</h4>
     <img src="../dayhumidity.png"/>

     <h4>Last 7 days</h4>
     <img src="../weekhumidity.png" />
    </div>
    <div data-role="footer">
      <h4>weewx v $station.version</h4>
    </div>
  </div>
</body>
